<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include navigation.html %}{% include topnavbar.html %}
    <i class="bi bi-list mobile-nav-toggle d-none"></i>
    <main id="main">
      <section
        id="contact-animated"
        class="about-animated d-flex align-items-center"
        style="background-image: url(/assets//img/top-contact-bg.jpg)"
      >
        <div class="container" data-aos="zoom-out">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h2>Services Offering</h2>
              <hr class="about_top_center" />
              <p>
                Muskan will types some things
              </p>

              <p>
                Please be patient while waiting for response. (24/7 Support!)
              </p>
            </div>
            <div class="col-md-6">
              <div class="contact_banner_right">
                <img src="/assets/img/x-wing.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        class="cu-contact hr-abouts"
        style="background-color: rgba(204, 204, 204, 0.7)"
      >
        <div
          class="container"
          data-aos="fade-up"
          style="background-color: transparent"
        >
          <div class="row">
            <div class="col-md-5 col-sm-5">
              <header>
                <div class="liner">
                  <i class="bi bi-check-circle-fill"></i>
                  <div class="line"></div>
                </div>
                <p>HEAD OFFICE</p>
              </header>
              <div class="head_info">
                <p>3150 North 24th Street Suite 200 Phoenix, AZ 85016</p>
                <h5>Secondary OFFICES</h5>
                <p class="mb2">
                  1818 N. Taylor Street Suite 114 Little Rock, AR 72207
                </p>
                <p>
                  <i><img src="/assets/img/phone.png" alt="" /></i>(602)
                  463-4645
                </p>
                <a href="mailto:info@spjedi.com"
                  ><i><img src="/assets/img/location.png" alt="" /></i
                  >info@spjedi.com</a
                >
                <p>Mon - Fr: 9 AM-5 PM</p>
                <p>Saturday: 9 AM-2 PM</p>
              </div>
			  
            </div>
            <div class="col-md-7 col-sm-7">
              <header>
                <div class="liner">
                  <i class="bi bi-check-circle-fill"></i>
                  <div class="line"></div>
                </div>
                <p>SEND US AN EMAIL</p>
              </header>

              <div class="contact_email">
                <div class="email_name_id">
                  
              </div>
            </div>
          </div>
        </div>
      </section>

      {% include footer.html %}
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- ======= Hero Section ======= -->
    {% include script.html %}
    <!-- End Hero -->
  </body>
  <script src="/assets/js/app.js"></script>
</html>
