<section class="flight about-us">
  <div class="container" data-aos="fade-up">
    <header>
      <div class="liner">
        <i class="bi bi-check-circle-fill"></i>
        <div class="line"></div>
      </div>
      <p>ABOUT US</p>
    </header>
    <div class="row" style="gap: 10px" class="content">
      <h3>
        For a decade, SP Jedi has been helping companies function at their
        highest level in the technology arena. We’re not trying to be the
        biggest consulting group in the market, but we are dedicated to
        providing our clients and customers with the most accessible and
        reliable service.
      </h3>
    </div>
  </div>
</section>
