<section class="flight-2">
  <div class="container" data-aos="fade-up">
    <header>
      <div class="liner">
        <i class="bi bi-check-circle-fill"></i>
        <div class="line"></div>
      </div>
      <p>SERVICES</p>
    </header>
    <div class="row" style="margin-left: 100px; gap: 50px">
      <div class="col-md-3 mt-3 mb-5 two">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-2-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/power">Power Platform</a>
        </div>
      </div>

      <div class="col-md-3 mt-3 mb-5 two">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-3-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/dynamics-365">Dynamics 365</a>
        </div>
      </div>

      <div class="col-md-3 mt-3 mb-5 two">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-4-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/microsoft-365">Microsoft 365</a>
        </div>
      </div>

      <!--end first row-->

      <div class="col-md-3 mt-3 mb-5 two">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-5-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/azure">Azure</a>
        </div>
      </div>

      <div class="col-md-3 mt-3 mb-5 two">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-6-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/AI-services">AI Services</a>
        </div>
      </div>

     <div class="col-md-3 mt-3 mb-5 two">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-7-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/uxui">UX/UI Services</a>
        </div>
      </div>

 <!--      <div class="col-md-3 mt-3 mb-5 two">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-8-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/azure-migration">Azure Migration</a>
        </div>
      </div>

      <div class="col-md-3 mt-3 mb-5 two">
        <div class="flight-box">
          <img
            src="/assets/img/weapon-2/w-weapon-8-on.png"
            alt="Image 1"
            class="img-1"
          />

          <a href="/azure-migration">Web Design</a>
        </div>
      </div>
      
      <!--end second row

       -->
      </div>
    </div>
  </div>
</section>
