<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer_copyright">
          <span> Copyright 2005-2017 by SPJedi built All Rights Reserved.</span>
        </div>
      </div>
    </div>
  </div>
</footer> -->

 <!--Footer-->
      <!-- ======= Footer ======= -->
      <footer class="footer">
        <div class="row text-center justify-content-center mt-5 mb--5">
          <div class="col-md-9">
            <div class="content p-4">
              <h2>Form your durable team with us</h2>
              <p>
                Some clients stay with us over 5 years. With 170+ professionals
                on board, we’re ready to assist you with full-cycle development.
              </p>
              <div class="btn">
                <a href="/">Book a FREE Consultant</a>
              </div>
            </div>
          </div>
        </div>

        <div class="footer-legal text-center">
          <div class="container">
            <div class="copyright">
              <div class="row" style="text-align: left; color: azure;">
                <div class="col-md-8 col-sm-7">
                  <div class="about_detail">
                    <div class="about_checkmark">
                      <i class="fa fa-check social"></i>
                    </div>
                    <div class="about_details">
                      <h4>ABOUT</h4>
                      <p>
                        For a decade, SP Jedi has been helping companies
                        function at their highest level in the technology arena.
                        We’re not trying to be the biggest consulting group in
                        the market, but we are dedicated to providing our
                        clients and customers with the most accessible and
                        reliable service.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-5">
                  <div class="about_detail">
                    <div class="about_checkmark">
                      <i class="fa fa-check social"></i>
                    </div>
                    <div class="about_details">
                      <h4>CONTACT US</h4>
                      <p>Phone: +1 602-463-4645</p>
                      <p>
                        Address: 3150 North 24th Street Suite A200 
                        Phoenix, AZ 85016
                      </p>
                      <a href="mailto:info@spjedi.com"
                        >Email : info@spjedi.com</a
                      >
                      <p>Call Us : (602) 463-4645</p>
                    </div>
                  </div>
                </div>

              </div>
              </div>
              <div class="footer-links">
                <a href="/" class="fa fa-facebook"></a>
                <a href="/" class="fa fa-linkedin"></a>
                <a href="/" class="fa fa-github"></a>
                <a href="/" class="fa fa-twitter"> </a>
              </div>
              <hr />
              <span>
                © 2022 c Web Design Company. All rights reserved. <br />
                Crafted with and powered by Jekyll
              </span>
            </div>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
