<!--Footer--
       ======= Footer ======= -->
<footer class="footer">
  <div class="text-center justify-content-center">
      <div class="content">
      <h2>Join Our Rebel Alliance</h2>
      <p>
        We aren't your typical Microsoft Partner. We know dorky is the new cool. We want to partner with companies that want
        to get things done and are budget focused. We are 30% lower than most Microsoft Partners. Get in touch with us now and we will
        show you the FORCE we bring to the Alliance. 
      </p>
      <div class="btn">
        <a href="https://outlook.office365.com/owa/calendar/SPJEDIBooking@spjedi.com/bookings/">Book a Best Practice Review</a>
      </div>
    <!-- </div> -->
  </div>

  <div class="footer-legal text-center">
    <div class="container">
      <div class="copyright">
        <div class="row" style="text-align: left; color: azure">
          <div class="col-md-6 col-sm-6" style="display:none;">
            <div class="about_detail">
              <div class="about_checkmark">
                <i class="fa fa-check social"></i>
              </div>
              <div class="about_details">
                <h4>ABOUT</h4>
                <p>
                  For a decade, SP Jedi has been helping companies function at
                  their highest level in the technology arena. We’re not trying
                  to be the biggest consulting group in the market, but we are
                  dedicated to providing our clients and customers with the most
                  accessible and reliable service.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-sm-9">
            <div class="about_detail">
              <div class="about_checkmark">
                <i class="fa fa-check social"></i>
              </div>
              <div class="about_details">
                <h4>CONTACT US</h4>
                <p>Call Us&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(602) 463-4645</p>
                <p>
                  Address&nbsp;:&nbsp;&nbsp;&nbsp;3150 North 24th Street Suite A200 Phoenix, AZ 85016
                </p>
                <a href="mailto:info@spjedi.com">Email&nbsp:&emsp;&emsp;<span>info@spjedi.com</span></a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3">
            <div class="about_detail">
              <div class="about_details">
                <h4></h4>
                <div class="footer-links">
                  <a href="https://www.facebook.com/sharepointjedi" class="fa fa-facebook"></a>
                  <a href="https://www.linkedin.com/company/spjedi" class="fa fa-linkedin"></a>
                </div>
                  <div class="footer-links">
                  <a href="https://github.com/spjedi" class="fa fa-github"></a>
                  <a href="https://twitter.com/itspjedi" class="fa fa-twitter"> </a>
                
                </div>
              </div>
              <div class="about_checkmark">
                <i class="fa fa-check social"></i>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <span>
          © 2023 SPJedi. All rights reserved. <br />
          Crafted with Lightsabers and utilizing The Force
        </span>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
