<section id="hero" class="hero">
  <div class="row">
    <div class="delogo">
      <img class="img-responsive" src="assets/img/logo.png" />
    </div>
    <div id="navwrapper">
      <div class="wrapper">
        <div class="button">
          <a href="/home"
            ><div class="icon">
              <img src="/assets/img/nav-icon-1.png" alt="" />
            </div>
            <span>Home</span></a
          >
        </div>
        <div class="button">
          <a href="/case"
            ><div class="icon">
              <img src="/assets/img/nav-icon-2.png" alt="" />
            </div>
            <span>Case Study</span></a
          >
        </div>
        <div class="button">
          <a href="/"
            ><div class="icon">
              <img src="/assets/img/nav-icon-3.png" alt="" />
            </div>
            <span>Home</span></a
          >
        </div>
        <div class="button">
          <a href="/"
            ><div class="icon">
              <img src="/assets/img/nav-icon-1.png" alt="" />
            </div>
            <span>Home</span></a
          >
        </div>
        <div class="button">
          <a href="/"
            ><div class="icon">
              <img src="/assets/img/nav-icon-2.png" alt="" />
            </div>
            <span>Home</span></a
          >
        </div>
      </div>
    </div>
    <div class="star-btn col-md-12" id="startspace">
      <div class="btns">
        <a href="/" class="btn">Book Now</a>
        <a href="/" class="btn">Meet Now</a>
      </div>

      <p>+1 602-463-4645</p>
      <p><span>3115 North 24th street Suite A200. Phoenix, AZ 85016</span></p>
    </div>
  </div>
</section>
