<section id="hero" class="hero">
  <div class="row">
    <div class="delogo">
      <img class="img-responsive" src="assets/img/logo.png" />
      <div class="input-container">
        <input
          class="input-field"
          type="text"
          placeholder="Search"
          name="usrnm"
        />
        <i class="fa fa-search icon"></i>
      </div>
    </div>
    <div id="navwrapper">
      <div class="wrapper">
        <div class="button">
          <a href="/home"
            ><div class="icon">
              <img src="/assets/img/nav-icon-1.png" alt="" />
            </div>
            <span>Home</span></a
          >
        </div>
        <div class="button">
          <a href="/case"
            ><div class="icon">
              <img src="/assets/img/nav-icon-2.png" alt="" />
            </div>
            <span>Case Studies</span></a
          >
        </div>
        <div class="button">
          <a href="/services"
            ><div class="icon">
              <img src="/assets/img/nav-icon-3.png" alt="" />
            </div>
            <span>Service Offerings</span></a
          >
        </div>
        <!--
        <div class="button">
          <a href="/about"
            ><div class="icon">
              <img src="/assets/img/nav-icon-1.png" alt="" />
            </div>
            <span>About US</span></a
          >
        </div>
		-->
        <div class="button">
          <a href="/contact"
            ><div class="icon">
              <img src="/assets/img/nav-icon-2.png" alt="" />
            </div>
            <span>Contact US</span></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="star-btn col-md-12" id="startspace">
    <div class="btns">
      <a href="https://outlook.office365.com/owa/calendar/SPJEDIBooking@spjedi.com/bookings/" class="btn"
        >Immediate Support</a
      >
      <a href="https://outlook.office365.com/owa/calendar/SPJEDIBooking@spjedi.com/bookings/" class="btn">Get in Touch</a>
      <a href="tel:6024634645" class="btn">602-463-4645</a>
    </div>

    <p><span>Leave the dark side and join our Alliance</span></p>
  </div>
  <div class="home-animated">
 <div class="container" data-aos="zoom-out">
          <div class="row align-items-center">
            <div class="col-md-6"> 
	<div class="button">
          <a href="#"
            >
            <h2><span>Our Mission</span></h2></a
          >
              <p>
                Since 2006,we look elevate expectationsby providing project based IT consulting services,
		at a fixed cost.Our Jedis are trained in the latest Microsoft technologies and excel at customer service.
              </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
    <img src="/assets/img/hero-imag.png" class="img-fluid animated" />
  </div>
</section>
