<div class="nav" id="nav">
  <nav>
    <div class="sidebar-top">
      <span class="shrink-btn">
        <i class="bx bx-chevron-left"></i>
      </span>
    </div>
    <div class="sidebar-top">
      <img
        src="/assets/img/logo.png"
        class="logo hide"
        style="margin-bottom: 50px"
        alt=""
      />
    </div>

    <div class="sidebar-links">
      <div class="wrapper">
        <div class="button active">
          <a href="/home"
            ><div class="icon">
              <img src="/assets/img/nav-icon-1.png" alt="" />
            </div>
            <span class="hide">Home</span></a
          >
        </div>
        <div class="button active" style="padding-bottom: 20px">
          <a href="/case"
            ><div class="icon">
              <img src="/assets/img/nav-icon-2.png" alt="" />
            </div>
            <span class="hide">Case Study</span></a
          >
        </div>

        <h4
          class="hide"
          style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc"
        >
          SharePoint Services
        </h4>

        <div class="sizeml" style="padding: 20px 0px">
          <div class="button active">
            <a href="/migrat"
              ><div class="icon">
                <img src="/assets/img/nav-icon-1.png" alt="" />
              </div>
              <span class="hide">Migration Services</span></a
            >
          </div>
          <div class="button active">
            <a href="/remote"
              ><div class="icon">
                <img src="/assets/img/nav-icon-2.png" alt="" />
              </div>
              <span class="hide">Remote Support</span></a
            >
          </div>
          <div class="button active">
            <a href="/promanage"
              ><div class="icon">
                <img src="/assets/img/nav-icon-3.png" alt="" />
              </div>
              <span class="hide">Project Manage</span></a
            >
          </div>
          <div class="button active">
            <a href="/branding"
              ><div class="icon">
                <img src="/assets/img/nav-icon-1.png" alt="" />
              </div>
              <span class="hide">Branding Hub</span></a
            >
          </div>
        </div>
        <div
          class="button active"
          style="border-top: 1px solid #ccc; padding-top: 20px"
        >
          <a href="/about"
            ><div class="icon">
              <img src="/assets/img/nav-icon-3.png" alt="" />
            </div>
            <span class="hide">About US</span></a
          >
        </div>
        <div class="button active">
          <a href="/contact"
            ><div class="icon">
              <img src="/assets/img/nav-icon-1.png" alt="" />
            </div>
            <span class="hide">Contact US</span></a
          >
        </div>
      </div>
    </div>

    <div class="sidebar-footer">
      <a href="#" class="account tooltip-element" data-tooltip="0">
        <i class="bx bx-user"></i>
      </a>
      <div class="admin-user tooltip-element" data-tooltip="1">
        <div class="admin-profile hide">
          <img src="/assets/img/Jed Elliott.png" alt="" />
          <div class="admin-info">
            <h3>Jed Elliott</h3>
            <h5>Admin</h5>
          </div>
        </div>
        <a href="#" class="log-out">
          <i class="bx bx-log-out"></i>
        </a>
      </div>
      <div class="tooltip">
        <span class="show">Jed Elliott</span>
        <span>Logout</span>
      </div>
    </div>
  </nav>
</div>
