<div class="nav" id="nav">
  <nav>
    <div class="sidebar-top">
      <span class="shrink-btn">
        <i class="bx bx-chevron-left"></i>
      </span>
    </div>
    <div class="sidebar-top">
      <img src="/assets/img/logo.png" class="logo hide" style="margin-bottom: 50px" alt="" />
    </div>

    <div class="sidebar-links">
      <div class="wrapper">
        <div class="button active">
          <a href="/home">
            <div class="icon">
              <img src="/assets/img/nav-icon-1.png" alt="" />
            </div>
            <span class="hide">Home</span>
          </a>
        </div>
        <div class="button active" style="padding-bottom: 20px">
          <a href="/case">
            <div class="icon">
              <img src="/assets/img/nav-icon-2.png" alt="" />
            </div>
            <span class="hide">Case Studies</span>
          </a>
        </div>

        <h4 class="hide" style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc">
          SharePoint Services
        </h4>

        <div class="button active">
          <a href="/migrat">
            <div class="icon">
              <img src="/assets/img/nav-icon-1.png" alt="" />
            </div>
            <span class="hide">Migration Services</span>
          </a>
        </div>
        <div class="button active">
          <a href="/Power">
            <div class="icon">
              <img src="/assets/img/nav-icon-1.png" alt="" />
            </div>
            <span class="hide">Power Apps</span>
          </a>
        </div>
        <div class="button active">
          <a href="/azure-integration">
            <div class="icon">
              <img src="/assets/img/nav-icon-1.png" alt="" />
            </div>
            <span class="hide">Azure Integration</span>
          </a>
        </div>
        <div class="button active" style="border-top: 1px solid #ccc; padding-top: 20px">
          <a href="/about">
            <div class="icon">
              <img src="/assets/img/nav-icon-3.png" alt="" />
            </div>
            <span class="hide">About US</span>
          </a>
        </div>

        <div class="button active">
          <a href="/contact">
            <div class="icon">
              <img src="/assets/img/nav-icon-1.png" alt="" />
            </div>
            <span class="hide">Contact US</span>
          </a>
        </div>
  </nav>
</div>