<section id="values" class="values pb-0">
  <div class="container" data-aos="fade-up">
    <header>
      <div class="liner">
        <i class="bi bi-check-circle-fill"></i>
        <div class="line"></div>
      </div>
      <p>GET STARTED NOW</p>
    </header>

    <div class="row">
      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="box d-flex align-items-center flex-column mb-3">
          <div class="img">
            <img src="/assets/img/nav-icon-1.png" alt="Card Image" />
          </div>
          <h3>Power Platform Help</h3>
          <p>
            Hands down the most powerful tool added in the last few years under
            Microsoft 365. From Document Automation, Data Integration, and Data
            Transformation. 150+ Power Apps Created within the last 18 months.
          </p>
          <div class="mt-auto">
            <a href="/Power">More info....</a>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="box d-flex align-items-center flex-column mb-3">
          <div class="img">
            <img src="/assets/img/nav-icon-2.png" alt="Card Image" />
          </div>
          <h3>Office 365 Migration</h3>
          <p>
            Our simple approach to Office 365 migrations will get you up and
            running quickly. Exchange, Azure, LotusNotes, G-Suite, SharePoint,
            or On-Premise Migrations done quickly from start to finish.
          </p>
          <div class="mt-auto">
            <a href="/migrat">Migration Information</a>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 mt-4 mt-lg-0"
        data-aos="fade-up"
        data-aos-delay="600"
      >
        <div class="box d-flex align-items-center flex-column mb-3">
          <div class="img">
            <img src="/assets/img/nav-icon-3.png" alt="Card Image" />
          </div>
          <h3>Microsoft Syntex</h3>
          <p>
            One of the most sought after new tools under the Microsoft 365
            umbrella. Data extraction and classification from within the
            documents. Automate upload classification. 10 projects haven been
            complete within the last year. Very few companies have completed
            even 1.
          </p>
          <div class="mt-auto">
            <a href="/syntex">Microsoft Syntex Overview</a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <img src="/assets/img/value-bg.png" alt="Bg" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
