<section class="why-us">
  <div class="container">
    <header class="pb-4">
      <div class="liner">
        <i class="bi bi-check-circle-fill"></i>
        <div class="line"></div>
      </div>
      <h2>OUR PAST MISSIONS</h2>
      <h3 style="color: white">
        Our customers are our most important asset. We have worked with some
        incredible companies. Here are some of our collaborative success
        stories.
      </h3>
    </header>
    <div class="row gy-5">
      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="why-item">
          <div class="img">
            <img
              src="/assets/img/why-us/why-us-1.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="details position-relative">
            <a href="#" class="stretched-link">
              <h3>Training Site with NetSuite Integration</h3>
            </a>
            <p>
              Our customer came to us with a need for document automation with
              300+ fields, custom calendar, and NetSuite data integration.
            </p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="why-item">
          <div class="img">
            <img
              src="/assets/img/why-us/why-us-2.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="details position-relative">
            <a href="#" class="stretched-link">
              <h3>Construction Management</h3>
            </a>
            <p>
              Our customer needed a way to manage people, products, and timeline
              all in one location. We built a responsive tool with management
              tools in under 60 days for their full enterprise.
            </p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
        <div class="why-item">
          <div class="img">
            <img
              src="/assets/img/why-us/why-us-3.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="details position-relative">
            <a href="#" class="stretched-link">
              <h3>Agricultural Project Management</h3>
            </a>
            <p>
              Our very unique customer needed our help for the overall
              management of Produce delivery for one of the largest states.
              Their custom application allowed them to manage their diverse
              company online or offline on any device.
            </p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
        <div class="why-item">
          <div class="img">
            <img
              src="/assets/img/why-us/why-us-4.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="details position-relative">
            <a href="#" class="stretched-link">
              <h3>Branding Sites</h3>
            </a>
            <p>
              Our customer was tired of Microsoft blue (I think that's why they
              liked us). We built a custom look with our in house graphics team
              that wowed them from the start.
            </p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
        <div class="why-item">
          <div class="img">
            <img
              src="/assets/img/why-us/why-us-5.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="details position-relative">
            <a href="#" class="stretched-link">
              <h3>Custom Sales Portal with Dashboards</h3>
            </a>
            <p>
              A massive one year project with tons of data integration of Power
              BI, Salesforce, and a custom tool kit for each type of user.
            </p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
        <div class="why-item">
          <div class="img">
            <img
              src="/assets/img/why-us/why-us-6.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="details position-relative">
            <a href="#" class="stretched-link">
              <h3>Document Management System with Stage Gate Process</h3>
            </a>
            <p>
              Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque
              non et debitis iure. Corrupti recusandae ducimus enim.
            </p>
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
      <!-- End Service Item -->
    </div>
  </div>
</section>
