.version.index /* version checker */
{
	color: #0000E9;
	background-color: #0A4507;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2992px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -71px;
	padding-bottom: 72px;
	width: 0.01px;
}

#pu444
{
	width: 0.01px;
	margin-left: -68px;
}

#u444
{
	z-index: 2;
	min-height: 1966px;
	background-color: #B4D58C;
}

#u444_position_content
{
	padding-top: 6px;
	padding-bottom: 414px;
}

#u491
{
	z-index: 76;
	width: 317px;
	background-color: transparent;
	margin-left: 32px;
	position: relative;
}

#u478
{
	z-index: 57;
	width: 140px;
	height: 135px;
	background-color: transparent;
	margin-left: 175px;
	margin-top: 31px;
	position: relative;
}

#U648_animation
{
	width: 140px;
	height: 135px;
	border: none;
}

#u476
{
	z-index: 55;
	width: 310px;
	background-color: transparent;
	margin-left: 51px;
	margin-top: 40px;
	position: relative;
}

#u445
{
	z-index: 3;
	width: 104px;
	height: 75px;
	margin-left: 126px;
	margin-top: 92px;
	position: relative;
	background: transparent url("/website/images/migration%20process-58.png") no-repeat left top;
	background-size: cover;
}

#u544
{
	z-index: 157;
	width: 216px;
	background-color: transparent;
	margin-left: 83px;
	margin-top: 578px;
	position: relative;
}

#pu508
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 9px;
	position: relative;
}

#u508
{
	z-index: 101;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#pu446
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 207px;
}

#u446
{
	z-index: 4;
	width: 94px;
	height: 75px;
	position: relative;
	background: transparent url("/website/images/migration%20process-58.png") no-repeat left top;
	background-size: cover;
}

#u485
{
	z-index: 70;
	width: 15px;
	background-color: transparent;
	margin-left: 17px;
	margin-top: 30px;
	position: relative;
}

#u504-6
{
	z-index: 89;
	width: 99px;
	min-height: 18px;
	background-color: transparent;
	border-radius: 10px;
	color: #3C5912;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 264px;
	position: relative;
}

#u504-2,#u504-4
{
	padding-right: 5px;
	padding-left: 5px;
}

#u444-bw
{
	z-index: 2;
	min-height: 1966px;
}

#u447
{
	z-index: 5;
	width: 337px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 737px;
	left: 94px;
}

#u688
{
	z-index: 52;
	width: 14px;
	background-color: transparent;
	margin-left: 255px;
	position: relative;
}

#pu463
{
	width: 0.01px;
	margin-top: 171px;
}

#u463
{
	z-index: 6;
	width: 298px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u463_img
{
	padding-bottom: 33px;
}

#u450
{
	z-index: 8;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 281px;
}

#u471-4
{
	z-index: 10;
	width: 180px;
	min-height: 19px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 17px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
}

#u472-4
{
	z-index: 14;
	width: 88px;
	min-height: 53px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 17px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 156px;
}

#u460-6
{
	z-index: 18;
	width: 95px;
	min-height: 41px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 17px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 355px;
	left: 227px;
}

#u465-4
{
	z-index: 24;
	width: 125px;
	min-height: 40px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 17px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 213px;
}

#u473
{
	z-index: 28;
	width: 67px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 258px;
}

#u456
{
	z-index: 30;
	width: 66px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 9px;
}

#u458
{
	z-index: 32;
	width: 79px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 347px;
	left: 131px;
}

#u452
{
	z-index: 34;
	width: 14px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,14,10);
	-ms-transform: matrix(-1,0,0,-1,14,10);
	transform: matrix(-1,0,0,-1,14,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 34px;
}

#u461
{
	z-index: 36;
	width: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 300px;
}

#u468
{
	z-index: 38;
	width: 14px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,2,12);
	-ms-transform: matrix(0,-1,1,0,2,12);
	transform: matrix(0,-1,1,0,2,12);
	position: relative;
	margin-right: -10000px;
	margin-top: 368px;
	left: 210px;
}

#u466
{
	z-index: 40;
	width: 14px;
	background-color: transparent;
	-webkit-transform: matrix(-0.9998,0.0175,-0.0175,-0.9998,14,10);
	-ms-transform: matrix(-0.9998,0.0175,-0.0175,-0.9998,14,10);
	transform: matrix(-0.9998,0.0175,-0.0175,-0.9998,14,10);
	position: relative;
	margin-right: -10000px;
	margin-top: 289px;
	left: 61px;
}

#u470-6
{
	z-index: 42;
	width: 85px;
	min-height: 36px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 17px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 31px;
}

#u448
{
	z-index: 48;
	width: 14px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,12,-2);
	-ms-transform: matrix(0,1,-1,0,12,-2);
	transform: matrix(0,1,-1,0,12,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 242px;
}

#u454
{
	z-index: 50;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 2px;
}

#u479
{
	z-index: 58;
	width: 136px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 332px;
	left: 233px;
}

#u479_img
{
	padding-right: 17px;
}

#u481-4
{
	z-index: 60;
	width: 83px;
	min-height: 58px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 19px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	left: 339px;
}

#u481-2
{
	padding-right: 5px;
	padding-left: 5px;
	font-family: open-sans, sans-serif;
}

#u482-4
{
	z-index: 64;
	width: 124px;
	min-height: 43px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 17px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 473px;
	left: 75px;
}

#u482-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 43px;
	width: 124px;
	margin: 473px -10000px 0px 0px;
}

#u482-4:hover p
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: normal;
}

#u483
{
	z-index: 68;
	width: 15px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 461px;
	left: 133px;
}

#u487
{
	z-index: 72;
	width: 15px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 417px;
	left: 373px;
}

#u489
{
	z-index: 74;
	width: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 279px;
	left: 350px;
}

#u493
{
	z-index: 78;
	width: 205px;
	height: 190px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 251px;
}

#U652_animation
{
	width: 205px;
	height: 190px;
	border: none;
}

#u494
{
	z-index: 79;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 339px;
	left: 128px;
}

#u494_img
{
	padding-right: 9px;
	padding-bottom: 11px;
}

#u496
{
	z-index: 81;
	width: 183px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 543px;
	left: 239px;
}

#u498
{
	z-index: 83;
	width: 82px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 494px;
	left: 176px;
}

#u500
{
	z-index: 85;
	width: 103px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 631px;
	left: 124px;
}

#u502
{
	z-index: 87;
	width: 94px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 537px;
	left: 80px;
}

#u505
{
	z-index: 95;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 890px;
	left: 174px;
}

#u507-4
{
	z-index: 97;
	width: 146px;
	min-height: 18px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 897px;
	left: 187px;
}

#u511
{
	z-index: 104;
	width: 351px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1540px;
	left: 83px;
}

#u523
{
	z-index: 105;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 87px;
}

#u532
{
	z-index: 107;
	width: 101px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 187px;
	left: 193px;
}

#u512
{
	z-index: 109;
	width: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 218px;
}

#u534
{
	z-index: 111;
	width: 108px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 285px;
	left: 207px;
}

#u522-4
{
	z-index: 113;
	width: 140px;
	min-height: 33px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 17px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
}

#u471-2,#u470-2,#u470-4,#u482-2,#u522-2
{
	font-size: 14px;
	padding-right: 5px;
	padding-left: 5px;
	font-family: open-sans, sans-serif;
}

#u519-4
{
	z-index: 117;
	width: 75px;
	min-height: 18px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 17px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 5px;
}

#u516-6
{
	z-index: 121;
	width: 91px;
	min-height: 18px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 17px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
	left: 92px;
}

#u472-2,#u465-2,#u519-2,#u516-2,#u516-4
{
	font-size: 14px;
	text-align: right;
	padding-right: 5px;
	padding-left: 5px;
	font-family: open-sans, sans-serif;
}

#u536-4
{
	z-index: 127;
	width: 71px;
	min-height: 54px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 17px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 280px;
}

#u460-2,#u460-4,#u536-2
{
	font-size: 14px;
	text-align: left;
	padding-right: 5px;
	padding-left: 5px;
	font-family: open-sans, sans-serif;
}

#u525
{
	z-index: 131;
	width: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 31px;
}

#u517
{
	z-index: 133;
	width: 15px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 68px;
}

#u529
{
	z-index: 135;
	width: 15px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,13,-2);
	-ms-transform: matrix(0,1,-1,0,13,-2);
	transform: matrix(0,1,-1,0,13,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 256px;
	left: 85px;
}

#u520
{
	z-index: 137;
	width: 15px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,13,-2);
	-ms-transform: matrix(0,1,-1,0,13,-2);
	transform: matrix(0,1,-1,0,13,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 372px;
	left: 187px;
}

#u514
{
	z-index: 139;
	width: 15px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,2,13);
	-ms-transform: matrix(0,-1,1,0,2,13);
	transform: matrix(0,-1,1,0,2,13);
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 261px;
}

#u527
{
	z-index: 141;
	width: 38px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
	left: 113px;
}

#u531
{
	z-index: 143;
	width: 102px;
	height: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 169px;
}

#U590_animation
{
	width: 102px;
	height: 102px;
	border: none;
}

#u546-4
{
	z-index: 159;
	width: 165px;
	min-height: 18px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: dosis, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1360px;
	left: 178px;
}

#u575
{
	z-index: 216;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 744px;
	left: 113px;
}

#u577
{
	z-index: 218;
	width: 81px;
	height: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 717px;
	left: 124px;
}

#U647_animation
{
	width: 81px;
	height: 32px;
	border: none;
}

#u578
{
	z-index: 219;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 808px;
	left: 85px;
}

#u580
{
	z-index: 221;
	width: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 838px;
	left: 373px;
}

#u582
{
	z-index: 223;
	width: 137px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1438px;
	left: 263px;
}

#u582_img
{
	padding-bottom: 8px;
}

#u584
{
	z-index: 225;
	width: 50px;
	height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1392px;
	left: 324px;
}

#U629_animation
{
	width: 50px;
	height: 80px;
	border: none;
}

#u681-8
{
	z-index: 226;
	width: 169px;
	min-height: 75px;
	background-color: transparent;
	border-radius: 10px;
	line-height: 17px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 748px;
	left: 271px;
}

#u681-2,#u681-4,#u681-6
{
	font-size: 14px;
	font-family: open-sans, sans-serif;
}

#pu547
{
	width: 0.01px;
	margin-left: 1px;
}

#u547
{
	z-index: 163;
	width: 127px;
	border-color: #FFFFFF;
	background-color: #21D8DE;
	padding-bottom: 102px;
	position: relative;
	margin-right: -10000px;
	left: 253px;
}

#u556
{
	z-index: 172;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 17px;
}

.grow
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u550
{
	z-index: 166;
	width: 127px;
	border-color: #FFFFFF;
	background-color: #21D8DE;
	position: relative;
	margin-right: -10000px;
}

#u550_position_content
{
	padding-top: 25px;
}

#u552
{
	z-index: 168;
	width: 119px;
	margin-left: 4px;
	position: relative;
}

#u558-8
{
	z-index: 174;
	width: 127px;
	min-height: 74px;
	background-color: #CCCCCC;
	background-color: rgba(0,0,0,0.2);
	color: #FFFFFF;
	text-align: center;
	font-weight: 300;
	margin-top: 28px;
	position: relative;
	-pie-background: rgba(0,0,0,0.2);
}

#u558-2
{
	font-size: 16px;
	line-height: 19px;
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 5px;
	font-family: open-sans, sans-serif;
}

#u558-4,#u558-6
{
	padding-right: 2px;
	padding-left: 2px;
	font-family: open-sans, sans-serif;
	font-style: italic;
}

#u551
{
	z-index: 167;
	width: 127px;
	border-color: #FFFFFF;
	background-color: #16C1C1;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 127px;
}

#u551_position_content
{
	padding-top: 49px;
}

#u554
{
	z-index: 170;
	width: 120px;
	margin-left: 3px;
	position: relative;
}

#u559-4
{
	z-index: 182;
	width: 127px;
	min-height: 74px;
	background-color: #CCCCCC;
	background-color: rgba(0,0,0,0.2);
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 27px;
	position: relative;
	-pie-background: rgba(0,0,0,0.2);
}

#u574-4
{
	z-index: 212;
	width: 127px;
	min-height: 73px;
	background-color: #CCCCCC;
	background-color: rgba(0,0,0,0.2);
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 253px;
	-pie-background: rgba(0,0,0,0.2);
}

#ppu548
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: -1px;
}

#pu548
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 253px;
}

#u548
{
	z-index: 164;
	width: 127px;
	border-color: #FFFFFF;
	background-color: #16C1C1;
	padding-bottom: 71px;
	position: relative;
	margin-right: -10000px;
}

#u566
{
	z-index: 192;
	width: 110px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#u569-4
{
	z-index: 198;
	width: 127px;
	min-height: 45px;
	background-color: #CCCCCC;
	background-color: rgba(0,0,0,0.2);
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	-pie-background: rgba(0,0,0,0.2);
}

#u560
{
	z-index: 186;
	width: 126px;
	border-color: #FFFFFF;
	background-color: #21D8DE;
	padding-left: 1px;
	padding-top: 40px;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u560:hover
{
	background-color: #F77B55;
	width: 126px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u564
{
	z-index: 190;
	width: 125px;
	position: relative;
}

#u568-4
{
	z-index: 194;
	width: 126px;
	min-height: 45px;
	background-color: #CCCCCC;
	background-color: rgba(0,0,0,0.2);
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 27px;
	position: relative;
	-pie-background: rgba(0,0,0,0.2);
}

#u561
{
	z-index: 187;
	width: 127px;
	border-color: #FFFFFF;
	background-color: #16C1C1;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u547:hover,#u550:hover,#u551:hover,#u548:hover,#u561:hover
{
	background-color: #F77B55;
	width: 127px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u561_position_content
{
	padding-top: 33px;
}

#u562
{
	z-index: 188;
	width: 120px;
	margin-left: 3px;
	position: relative;
}

#u573-4
{
	z-index: 208;
	width: 127px;
	min-height: 45px;
	background-color: #CCCCCC;
	background-color: rgba(0,0,0,0.2);
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 26px;
	position: relative;
	-pie-background: rgba(0,0,0,0.2);
}

#u559-2,#u574-2,#u569-2,#u568-2,#u573-2
{
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 5px;
}

#u549
{
	z-index: 165;
	width: 380px;
	border-color: #FFFFFF;
	background-color: #21D8DE;
	margin-left: 1px;
	margin-top: 1px;
	position: relative;
}

#u549:hover
{
	background-color: #F77B55;
	width: 380px;
	min-height: 0px;
	margin: 1px 0px 0px 1px;
}

#u571
{
	z-index: 206;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 6px;
}

#u570-4
{
	z-index: 202;
	width: 253px;
	min-height: 43px;
	background-color: #CCCCCC;
	background-color: rgba(0,0,0,0.2);
	color: #FFFFFF;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 126px;
	-pie-background: rgba(0,0,0,0.2);
}

#u570-2
{
	padding-right: 2px;
	padding-left: 2px;
	padding-top: 2px;
}

#u540
{
	z-index: 150;
	width: 5px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,140,135);
	-ms-transform: matrix(0,1,-1,0,140,135);
	transform: matrix(0,1,-1,0,140,135);
	margin-left: 189px;
	top: -107px;
	margin-bottom: -140px;
	position: relative;
}

#u510
{
	z-index: 103;
	width: 290px;
	height: 190px;
	background-color: transparent;
	margin-left: 16px;
	top: -81px;
	margin-bottom: -81px;
	position: relative;
}

#U625_animation
{
	width: 290px;
	height: 190px;
	border: none;
}

#u537-4
{
	z-index: 144;
	width: 180px;
	min-height: 35px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 101px;
	margin-top: 7px;
	position: relative;
}

#u538
{
	z-index: 148;
	width: 5px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,140,135);
	-ms-transform: matrix(0,1,-1,0,140,135);
	transform: matrix(0,1,-1,0,140,135);
	margin-left: 174px;
	top: -121px;
	margin-bottom: -140px;
	position: relative;
}

#u540_img,#u538_img
{
	padding-right: 3px;
	padding-bottom: 272px;
}

#pu475
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: -99px;
}

#u475
{
	z-index: 54;
	width: 240px;
	height: 160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 121px;
}

#U619_animation
{
	width: 240px;
	height: 160px;
	border: none;
}

#u542-4
{
	z-index: 152;
	width: 121px;
	min-height: 100px;
	background-color: transparent;
	line-height: 19px;
	text-align: right;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#u543
{
	z-index: 156;
	width: 16px;
	height: 10px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 162px;
}

#U659_animation
{
	width: 16px;
	height: 10px;
	border: none;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

