<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include navigation.html %}{% include topnavbar.html %}
    <i class="bi bi-list mobile-nav-toggle d-none"></i>
    <main id="main">
      <section
        id="about-animated"
        class="about-animated d-flex align-items-center"
      >
        <div class="container" data-aos="zoom-out">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h2>
                We are the Jedi Knights of SPJedi, Your business is our
                business.
              </h2>
              <hr class="about_top_center" />
              <p>
                SP Jedi partners with visionary organizations that are committed
                to making a difference for the communities they serve. Our
                clients are located throughout the U.S. and run the gamut from
                small startups creating super-niche products, to colleges and
                universities, to health systems that provide medical care for
                hundreds of thousands of people every year.
              </p>
              <p>
                We understand the challenges involved in coordinating complex
                projects with a distributed workforce. That is where our
                in-depth, on-the-ground expertise as SharePoint administrators
                can help you meet your business goals
              </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
              <div class="about_hones">
                <div class="about_hone_detail">
                  <span>Here is what you will get when you work with us:</span>
                  <ul>
                    <li>Honest, transparent pricing.</li>
                    <li>
                      Quick hands on access to the testing environments we are
                      creating for you.
                    </li>
                    <li>
                      Dedicated support with experienced Microsoft migration
                      specialists who will work with you every step of the way.
                    </li>
                    <li>
                      Get in touch today and speak with a real-live human being
                      to find out how we can start helping you to run a
                      stronger, more efficient business.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <a class="about-contac_btn" href="mailto:info@spjedi.com"
              >Contact US</a
            >
          </div>
        </div>
      </section>

      <section class="cu-contact hr-abouts">
        <div class="container" data-aos="fade-up">
          <header>
            <div class="liner">
              <i class="bi bi-check-circle-fill"></i>
              <div class="line"></div>
            </div>
            <p>HR Main Site</p>
          </header>
          <div class="row">
            <div class="col-md-12">
              <div class="hr_about-list">
                <div class="about-hr_jed">
                  <div class="jed_header">
                    <div class="hr-user">
                      <img src="assets/img/Jed Elliott.png" alt="" />
                    </div>
                    <h4>Jed Elliott</h4>
                    <p>(The Yoda of this group. Lead you must to succeed.)</p>
                  </div>
                  <div class="jed_detail">
                    <span>Vice President of Customer Involvement</span>
                    <p>
                      Six Sigma Certified, 10 years of SharePoint Development,
                      12 years of Process Development
                    </p>
                    <div class="about_bottom_dot"></div>
                  </div>
                </div>
              </div>
              <div class="hr_about-list">
                <div class="about-hr_jed">
                  <div class="jed_header">
                    <div class="hr-user">
                      <img src="assets/img/Heather Davenport.png" alt="" />
                    </div>
                    <h4>Dmitri Plotnikov MVP</h4>
                    <p>(SharePoint MVP 5 Years Straight)</p>
                  </div>
                  <div class="jed_detail">
                    <span>SharePoint Architect</span>
                    <p>
                      Custom Applications built the right way I help make the
                      process simple and sustainable
                    </p>
                    <div class="about_bottom_dot"></div>
                  </div>
                </div>
                <div class="about-hr_jed">
                  <div class="jed_header">
                    <div class="hr-user">
                      <img src="assets/img/Dmitri Plotnikov.png" alt="" />
                    </div>
                    <h4>Dmitri Plotnikov MVP</h4>
                    <p>(SharePoint MVP 5 Years Straight)</p>
                  </div>
                  <div class="jed_detail">
                    <span>SharePoint Architect</span>
                    <p>
                      Custom Applications built the right way I help make the
                      process simple and sustainable
                    </p>
                    <div class="about_bottom_dot"></div>
                  </div>
                </div>
                <div class="about-hr_jed">
                  <div class="jed_header">
                    <div class="hr-user">
                      <img src="assets/img/John Ventry.png" alt="" />
                    </div>
                    <h4>Dmitri Plotnikov MVP</h4>
                    <p>(SharePoint MVP 5 Years Straight)</p>
                  </div>
                  <div class="jed_detail">
                    <span>SharePoint Architect</span>
                    <p>
                      Custom Applications built the right way I help make the
                      process simple and sustainable
                    </p>
                    <div class="about_bottom_dot"></div>
                  </div>
                </div>
              </div>
              <div class="hr_about-list">
                <div class="about-hr_jed">
                  <div class="jed_header">
                    <div class="hr-user">
                      <img src="assets/img/Anna Tsugunyan.png" alt="" />
                    </div>
                    <h4>Dmitri Plotnikov MVP</h4>
                    <p>(SharePoint MVP 5 Years Straight)</p>
                  </div>
                  <div class="jed_detail">
                    <span>SharePoint Architect</span>
                    <p>
                      Custom Applications built the right way I help make the
                      process simple and sustainable
                    </p>
                    <div class="about_bottom_dot"></div>
                  </div>
                </div>
                <div class="about-hr_jed">
                  <div class="jed_header">
                    <div class="hr-user">
                      <img src="assets/img/Prasad Parava.png" alt="" />
                    </div>
                    <h4>Dmitri Plotnikov MVP</h4>
                    <p>(SharePoint MVP 5 Years Straight)</p>
                  </div>
                  <div class="jed_detail">
                    <span>SharePoint Architect</span>
                    <p>
                      Custom Applications built the right way I help make the
                      process simple and sustainable
                    </p>
                    <div class="about_bottom_dot"></div>
                  </div>
                </div>
                <div class="about-hr_jed">
                  <div class="jed_header">
                    <div class="hr-user">
                      <img src="assets/img/Akreev.png" alt="" />
                    </div>
                    <h4>Dmitri Plotnikov MVP</h4>
                    <p>(SharePoint MVP 5 Years Straight)</p>
                  </div>
                  <div class="jed_detail">
                    <span>SharePoint Architect</span>
                    <p>
                      Custom Applications built the right way I help make the
                      process simple and sustainable
                    </p>
                    <div class="about_bottom_dot"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        id="values"
        class="values pb-0"
        style="background-image: url(/assets/img/5-top-bg.png)"
      >
        <div class="container" data-aos="fade-up">
          <header>
            <div class="liner">
              <i class="bi bi-check-circle-fill"></i>
              <div class="line"></div>
            </div>
            <p style="color: white">Our Pricing</p>
          </header>

          <div class="about-servic">
            <div class="row">
              <div class="col-md-2 col-sm-4">
                <div class="services_our">
                  <div class="servic_list">
                    <div class="servi_icon">
                      <img src="assets/img/migration.png" alt="" />
                    </div>
                    <span>Migrations</span>
                    <p>
                      We offer Migrations to any Microsoft Product. We can
                      migrate from Lotus Notes, IBM Platform, BaseCamp, or even
                      Sticky Note ideas.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4">
                <div class="services_our">
                  <div class="servic_list">
                    <div class="servi_icon">
                      <img src="assets/img/installation.png" alt="" />
                    </div>
                    <span>Installation</span>
                    <p>
                      SP Jedi can install, advise, and configure servers to meet
                      your needs. We can install Microsoft solutions and
                      firewall needs to complete your business goals.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4">
                <div class="services_our">
                  <div class="servic_list">
                    <div class="servi_icon">
                      <img src="assets/img/office.png" alt="" />
                    </div>
                    <span>Office 365</span>
                    <p>
                      Want to get off of On-Premise Solutions? We offer packages
                      starting under $1500 to configure, import user accounts,
                      and provide training within a two week turnaround.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4">
                <div class="services_our">
                  <div class="servic_list">
                    <div class="servi_icon sharepoint">
                      <img src="assets/img/sharepoint.png" alt="" />
                    </div>
                    <span>SharePoint help</span>
                    <p>
                      If you have an existing SharePoint instance that you need
                      assistance for, we can help. Our team consists of
                      SharePoint Admins that can help provide training,
                      governance, maintenance.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4">
                <div class="services_our">
                  <div class="servic_list">
                    <div class="servi_icon">
                      <img src="assets/img/external.png" alt="" />
                    </div>
                    <span>External websites</span>
                    <p>
                      Need a website on SharePoint? We have created over 45
                      external websites for our customers. All of our sites are
                      mobile ready through bootstrap and provide portals for
                      your customers.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-4">
                <div class="services_our">
                  <div class="servic_list">
                    <div class="servi_icon">
                      <img
                        src="assets/img/Process.png"
                        alt=""
                        style="width: auto; position: relative; left: -22px"
                      />
                    </div>
                    <span>Process Improvement</span>
                    <p>
                      SP Jedi can install, advise, and configure servers to meet
                      your needs. We can install Microsoft solutions and
                      firewall needs to complete your business goals.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% include footer.html %}
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- ======= Hero Section ======= -->
    {% include script.html %}
    <!-- End Hero -->
  </body>
  <script src="/assets/js/app.js"></script>
</html>
