<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <style>
    body {
      font-family: "Lato", sans-serif;
    }

    .sidenav {
      height: 0;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .sidenav a {
      gap: 20px;
      text-decoration: none;
      color: #818181;
      display: inline-flex;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #1ba492;
    }
  </style>
  <body>
    {% include topnavbar.html %} {% include navigation.html %}
    <main id="main">
      <section
        id="hero-animated"
        class="hero-animated d-flex align-items-center"
      >
        <div class="container" data-aos="zoom-out">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h2>Azure Integration</h2>
              <p>
                Azure integration involves connecting and integrating various
                systems, applications, and services with the Microsoft Azure
                cloud platform. It enables seamless communication and data
                exchange between components, combining Azure's scalability and
                services with existing systems. Azure integration options
                include Logic Apps for workflow automation, Service Bus for
                messaging, API Management for API publishing and management,
                Event Grid for event-driven communication, and Functions for
                serverless computing. By integrating with Azure, organizations
                enhance productivity, agility, and scalability, leveraging
                cloud-native capabilities for innovation and growth.
              </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
              <img src="/assets/img/hero-imag.png" class="img-fluid animated" />
            </div>
          </div>
        </div>
      </section>

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>Application Development and Deployment:</h3>
              <p>
               Azure integration provides a comprehensive suite of tools and services for application development and deployment. 
               Users can leverage Azure App Service to build and deploy web and mobile applications, Azure Functions for serverless computing, 
               and Azure Logic Apps for creating and automating workflows. Azure DevOps offers a robust set of development and collaboration tools, 
               enabling seamless application lifecycle management, continuous integration, and continuous deployment (CI/CD).
              </p>
              <a class="case-single-btn align-self-start" href="#"
                >Read More</a
              >
            </div>

            <div
              class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center"
            >
              <div class="img">
                <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="img">
                <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center"
            >
              <h3>Hybrid Cloud Integration:</h3>
              <p>
                Azure integration supports hybrid cloud scenarios, allowing users to seamlessly 
                connect their on-premises infrastructure with Azure services. Azure Virtual Network (VNet) 
                enables secure communication between on-premises networks and Azure resources. Azure Site Recovery facilitates disaster 
                recovery and business continuity by replicating and recovering on-premises workloads to Azure.
              </p>
              <a class="case-single-btn align-self-start" href="#"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>Internet of Things (IoT) Integration: </h3>
              <p>
                 Azure integration enables users to connect, monitor, and manage IoT devices and applications. 
                Azure IoT Hub provides a secure and scalable cloud platform for IoT device connectivity and data ingestion. Users can use 
                Azure IoT Central for rapid IoT solution development, Azure IoT Edge for edge computing capabilities, and Azure IoT Suite for 
                comprehensive IoT application development and management.
              </p>
              <a class="case-single-btn align-self-start" href="#"
                >Read More</a
              >
            </div>

            <div
              class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center"
            >
              <div class="img">
                <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

     
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- ======= Hero Section ======= -->
    {% include script.html %}
    <!-- End Hero -->
  </body>
  <script src="/assets/js/app.js"></script>
</html>
