<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <style>
    body {
      font-family: "Lato", sans-serif;
    }

    .sidenav {
      height: 0;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .sidenav a {
      gap: 20px;
      text-decoration: none;
      color: #818181;
      display: inline-flex;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #1ba492;
    }
  </style>
  <body>
    {% include topnavbar.html %} {% include navigation.html %}
    <main id="main">
      <section
        id="hero-animated"
        class="hero-animated d-flex align-items-center"
      >
        <div class="container" data-aos="zoom-out">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h2>Azure Migration</h2>
              <p>
                Azure migration transfers applications, data, and infrastructure to Microsoft Azure for scalability and cost reduction. 
                Options include lift and shift or application modernization. Steps involve assessing, planning, provisioning, transferring, and optimizing the Azure environment. 
                Benefits include improved disaster recovery and access to diverse cloud services.
              </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
              <img src="/assets/img/hero-imag.png" class="img-fluid animated" />
            </div>
          </div>
        </div>
      </section>
       <div class="container" data-aos="fade-up" style="background-color: transparent">
        <header>
          <div class="liner">
            <i class="bi bi-check-circle-fill"></i>
            <div class="line">
            </div>
          </div>
          <div class="col-md-6">
          <h2 style="color: #28b6b7;">Getting Started</h2>
         </header>

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>Lift and Shift Migration:</h3>
              <p>
                Azure Migration has been employed for lift and shift migration, which involves moving
                on-premises applications and workloads to the Azure cloud without making significant
                modifications. An example is how Carlsberg Group, a multinational brewing company,
                utilized Azure Migration to migrate their SAP workloads to Azure. This migration
                enabled them to benefit from the scalability, security, and flexibility of the cloud while
                minimizing disruption to their existing systems.
              </p>
              <a class="case-single-btn align-self-start" href="#"
                >Read More</a
              >
            </div>

            <div
              class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center"
            >
              <div class="img">
                <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="img">
                <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center"
            >
              <h3>Application Modernization:</h3>
              <p>
                Azure Migration has been used to modernize legacy applications by rearchitecting or
                refactoring them to leverage cloud-native services and capabilities. An example is how
                refactoring them to leverage cloud-native services and capabilities. An example is how
                to modernize their application infrastructure. By migrating their monolithic application to
                Azure, Pexip was able to scale its services, improve performance, and take advantage
                of Azure's extensive ecosystem of tools and services.
              </p>
              <a class="case-single-btn align-self-start" href="#"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>Datacenter Consolidation:</h3>
              <p>
                Azure Migration has been utilized for data center consolidation, where organizations
                migrate their workloads from multiple data centers to Azure, reducing infrastructure costs
                and complexity. A notable example is how General Electric (GE) utilized Azure
                Migration to consolidate their global data centers. By migrating their applications and
                workloads to Azure, GE achieved greater efficiency, improved scalability, and enhanced
                data management capabilities.                
              </p>
              <a class="case-single-btn align-self-start" href="#"
                >Read More</a
              >
            </div>

            <div
              class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center"
            >
              <div class="img">
                <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->
          {% include footer.html %}
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- ======= Hero Section ======= -->
    {% include script.html %}
    <!-- End Hero -->
  </body>
  <script src="/assets/js/app.js"></script>
</html>
