<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <style>
    body {
      font-family: "Lato", sans-serif;
    }

    .sidenav {
      height: 0;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .sidenav a {
      gap: 20px;
      text-decoration: none;
      color: #818181;
      display: inline-flex;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #1ba492;
    }
  </style>
  <body>
    {% include topnavbar.html %} {% include navigation.html %}
      <i class="bi bi-list mobile-nav-toggle d-none"></i>
    <main id="main">
      <section
        id="hero-animated"
        class="hero-animated d-flex align-items-center"
      >
        <div class="container" data-aos="zoom-out">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h2>Process Automation</h2>
              <p>
                SPJedi's process automation service offering involves using Microsoft 365 technology 
                and tools to streamline and optimize repetitive tasks and workflows within an organization. 
                Our goal is to reduce manual intervention and increase your organization's efficiency. We aim to 
                free up human resources for more strategic, efficient, and creative endeavors.
              </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
              <img src="/assets/img/hero-imag.png" class="img-fluid animated" />
            </div>
          </div>
        </div>
      </section>
      <div class="cu-contact">
      <div class="container" data-aos="fade-up" style="background-color: transparent">
        <header>
          <div class="liner">
            <i class="bi bi-check-circle-fill"></i>
            <div class="line">
            </div>
          </div>
          <div class="col-md-6">
          <h2 style="color: #28b6b7;">Getting Started</h2>
         </header>
      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>User Research:</h3>
              <p>
               We begin by using our Jedi mind trick to your target audience and their needs through in-depth user research. 
               Our Jedis conduct user interviews, surveys, and usability tests to gain valuable insights that shape the design process.
              </p>
            </div>

            <div
              class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center"
            >
             <!-- <div class="img">
                <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                /> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="img">
                <!-- <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                /> -->
              </div>
            </div>
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center"
            >
              <h3>Wireframing:</h3>
              <p>
                After we've gathered data for our mission, we create user-centric wireframes that outline the navigation, 
                layout, and interactions of your digital product. Our Jedi designers ensure seamless and intuitive user journeys 
                to optimize usability and conversion.
              </p>
            
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>Prototyping: </h3>
              <p>
                Our creative UI/UX Jedis translate wireframes into stunning visual designs. 
                We focus on brand consistency, typography, color schemes, and imagery to create visually 
                appealing interfaces that resonate with your audience. Interactive prototypes allow you to 
                preview and test the designs before development.
              </p>
            </div>

            <div
              class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center"
            >
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->
      {% include footer.html %}
    </main>
     
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- ======= Hero Section ======= -->
    {% include script.html %}
    <!-- End Hero -->
  </body>
  <script src="/assets/js/app.js"></script>
</html>
