<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <style>
    body {
      font-family: "Lato", sans-serif;
    }

    .sidenav {
      height: 0;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .sidenav a {
      gap: 20px;
      text-decoration: none;
      color: #818181;
      display: inline-flex;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #1ba492;
    }
  </style>
  <body>
    {% include topnavbar.html %} {% include navigation.html %}
    <main id="main">
      <section
        id="hero-animated"
        class="hero-animated d-flex align-items-center"
      >
        <div class="container" data-aos="zoom-out">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h2>Digital Transformation</h2>
              <p>
                SPJedi's approach to digital transformation revolves around its Microsoft 365, Azure,
                and its suite of productivity and collaboration tools. Here are some key components of 
                Digital Transformation that SPJedi can assist your organization in fully adopting.
              </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
              <img src="/assets/img/hero-imag.png" class="img-fluid animated" />
            </div>
          </div>
        </div>
      </section>

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>Low Code Application Development:</h3>
              <p>
                Our approach to low-code software development aims to simplify and accelerate the application development
                process by using visual development tools and minimal hand-coding, utilizing Microsoft Power Apps. 
                In a low-code development environment, we use Canvas and Model-Driven Apps to design and build applications. 
                Our approach abstracts much of the complex coding and allows developers to focus on the application's logic 
                and functionality rather than dealing with manual code writing.
              </p>
            
            </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="img">
               
              </div>
            </div>
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center"
            >
              <h3>Data and Analytics:</h3>
              <p>
                SPJedi provides services to help organizations collect, 
                process, analyze, and gain insights from their data. We specialize in Power BI, 
                which is a powerful business analytics service that allows users to create interactive dashboards and reports.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>Artificial Intelligence:</h3>
              <p>
                SPJedi offers various AI-based services through Azure Cognitive Services, 
                AI Builder, Syntex, and Co-Pilot. SPJedi developers incorporate AI capabilities like vision, speech, 
                and language understanding into their applications. Additionally, SPJedi empowers organizations to build, 
                train, and deploy machine learning models.
              </p>
            </div>
              </div>
            </div>
          </div>
        </div>
      </section>
        <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="img">
               
              </div>
            </div>
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center"
            >
              <h3>Cloud Computing:</h3>
              <p>
                SPJedi Consultants are experts in the Microsoft Azure Platform. 
                Microsoft Azure is a comprehensive cloud platform that offers a wide range of services, 
                including virtual machines, databases, AI and machine learning tools, IoT (Internet of Things) services, and more. 
                Organizations can use Azure to migrate their on-premises infrastructure to the cloud, scale their applications, 
                and take advantage of cloud-based services to improve efficiency and flexibility.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>Collaboration and Productivity:</h3>
              <p>
                SPJedi has been assisting clients in all aspects of 
                SharePoint since 2006 and Microsoft 365 since 2017. 
                In our ever-changing workforce, organizations can leverage SharePoint, Teams, OneDrive, 
                and Microsoft Viva to collaborate effectively. Our consultants place an emphasis on modern work principles
                and implement the latest collaboration and productivity tools within the Microsoft stack for your teams.
              </p>
            </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->
      {% include footer.html %}
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- ======= Hero Section ======= -->
    {% include script.html %}
    <!-- End Hero -->
  </body>
  <script src="/assets/js/app.js"></script>
</html>
