<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <style>
    body {
      font-family: "Lato", sans-serif;
    }

    .sidenav {
      height: 0;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #1ba492;
    }
  </style>
  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top" data-scrollto-offset="0">
      <div
        class="container-fluid d-flex align-items-center justify-content-between"
      >
        <div id="navbar" class="navbar">
          <div
            id="mySidenav"
            class="sidenav"
            style="box-shadow: inset 0 -10px 10px -5px #1ba492"
          >
            <div class="row" style="justify-content: center">
              <div class="col-sm-4">
                <div class="button active">
                  <a href="/home"
                    ><div class="icon">
                      <img
                        src="/assets/img/nav-icon-1.png"
                        style="width: 30px; height: 30px"
                        alt=""
                      />
                    </div>
                    <span>Home</span>
                  </a>
                </div>
                <div class="button active">
                  <a href="/case"
                    ><div class="icon">
                      <img
                        src="/assets/img/nav-icon-2.png"
                        style="width: 30px; height: 30px"
                        alt=""
                      />
                    </div>
                    <span>Case study</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="button active">
                  <a href="/"
                    ><div class="icon">
                      <img
                        src="/assets/img/nav-icon-2.png"
                        style="width: 30px; height: 30px"
                        alt=""
                      />
                    </div>
                    <span>Migration Services</span>
                  </a>
                </div>
                <div class="button active">
                  <a href="/"
                    ><div class="icon">
                      <img
                        src="/assets/img/nav-icon-3.png"
                        style="width: 30px; height: 30px"
                        alt=""
                      />
                    </div>
                    <span>Remote Support</span>
                  </a>
                </div>
                <div class="button active">
                  <a href="/"
                    ><div class="icon">
                      <img
                        src="/assets/img/nav-icon-1.png"
                        style="width: 30px; height: 30px"
                        alt=""
                      />
                    </div>
                    <span>Project Manage</span>
                  </a>
                </div>
                <div class="button active">
                  <a href="/"
                    ><div class="icon">
                      <img
                        src="/assets/img/nav-icon-2.png"
                        style="width: 30px; height: 30px"
                        alt=""
                      />
                    </div>
                    <span>Branding Hub</span>
                  </a>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="button active">
                  <a href="/"
                    ><div class="icon">
                      <img
                        src="/assets/img/nav-icon-3.png"
                        style="width: 30px; height: 30px"
                        alt=""
                      />
                    </div>
                    <span>About US</span>
                  </a>
                </div>
                <div class="button active">
                  <a href="/"
                    ><div class="icon">
                      <img
                        src="/assets/img/nav-icon-1.png"
                        style="width: 30px; height: 30px"
                        alt=""
                      />
                    </div>
                    <span>Contact US</span>
                  </a>
                </div>
              </div>
            </div>
            <i
              id="aaa"
              class="mobile-nav-toggle bi bi-list"
              style="color: #1ba492"
              onclick="openNav()"
            ></i>
          </div>
        </div>
        <!-- .navbar -->
      </div>
      <script>
        function openNav() {
          console.log(document.getElementById("mySidenav").style.height);
          if (document.getElementById("mySidenav").style.height == "500px") {
            document.getElementById("mySidenav").style.height = "0px";
          } else {
            document.getElementById("mySidenav").style.height = "500px";
          }
        }

        // function closeNav() {
        //   document.getElementById("mySidenav").style.height = "0";
        //   document.getElementById("aaa").style.opacity = 1;
        // }
      </script>
    </header>
    <!-- End Header -->
    <main id="main">
      <!-- ======= Hero Section ======= -->
      {% include hero.html %}
      <!-- End Hero -->

      <!-- ======= Values Section ======= -->
      {% include values.html %}
      <!-- End Values Section -->

      <!-- ======= Flight Section ======= -->
      {% include flight.html %}
      <!-- End Flight  Section -->

      <!-- ======= Flight Section ======= -->
      {% include flight-2.html %}
      <!-- End Flight  Section -->

      <!-- ======= Case Section ======= -->
      {% include case-study.html %}
      <!-- End Case  Section -->

      <!-- ======= Case Section ======= -->
      {% include why-us.html %}
      <!-- End Case  Section -->

      {% include footer.html %}
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- ======= Hero Section ======= -->
    {% include script.html %}
    <!-- End Hero -->
  </body>
  <script>
    $("[data-toggle=tooltip]").tooltip();
  </script>
  <script src="/assets/js/app.js"></script>
</html>
