<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <style>
    body {
      font-family: "Lato", sans-serif;
    }

    .sidenav {
      height: 0;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .sidenav a {
      gap: 20px;
      text-decoration: none;
      color: #818181;
      display: inline-flex;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #1ba492;
    }
  </style>
  <body>
    {% include topnavbar.html %} {% include navigation.html %}
    <main id="main">
      <section
        id="hero-animated"
        class="hero-animated d-flex align-items-center"
      >
        <div class="container" data-aos="zoom-out">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h2>Microsoft Syntex</h2>
              <p>
               Microsoft Syntex automates content capture, organization, and classification using AI and ML.
                It extracts valuable information from unstructured content and enhances search experiences. 
                Improve content management and compliance with Microsoft Syntex. Unleash the potential of your unstructured data.
              </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
              <img src="/assets/img/hero-imag.png" class="img-fluid animated" />
            </div>
          </div>
        </div>
      </section>

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>Intelligent Document Processing:</h3>
              <p>
                Syntex can automatically extract relevant information from documents, such as contracts, invoices, or forms. 
                It can identify key data points,validate their accuracy, and populate structured databases or systems, 
                reducing manual data entry and improving efficiency.
              </p>
              <a class="case-single-btn align-self-start" href="#"
                >Read More</a
              >
            </div>

            <div
              class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center"
            >
              <div class="img">
                <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="img">
                <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center"
            >
              <h3>Intelligent Virtual Assistants and Chatbots:</h3>
              <p>
                Syntex can enhance virtual assistants and chatbots by enabling them to understand and process unstructured content. 
                It can extract relevant information from user queries or conversations, providing more accurate and meaningful responses.
              </p>
              <a class="case-single-btn align-self-start" href="#"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>Content Classification and Metadata Extraction:</h3>
              <p>
                Syntex can analyze documents and apply classification labels based on their content. 
                It can automatically extract metadata, such as keywords, entities, or sentiments, which can be used for organizing 
                and searching content more effectively.
              </p>
              <a class="case-single-btn align-self-start" href="#"
                >Read More</a
              >
            </div>

            <div
              class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center"
            >
              <div class="img">
                <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->
      {% include footer.html %}
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- ======= Hero Section ======= -->
    {% include script.html %}
    <!-- End Hero -->
  </body>
  <script src="/assets/js/app.js"></script>
</html>
