<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include navigation.html %}
    <i class="bi bi-list mobile-nav-toggle d-none"></i>
    <main id="main">
      <section
        id="hero-animated"
        class="hero-animated d-flex align-items-center"
      >
        <div class="container" data-aos="zoom-out">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h2>
                MICROSOFT<br />
                MIGRATION SERVICES
              </h2>
              <p>
                Painless Microsoft Migration In Just 30 Days Our Microsoft<br />
                Migration Services are designed to simplify the process of<br />
                installing and configuring Microsoft and their powerful<br />
                platform. Within just 30 days you will have a custom tailored<br />
                workspace that will transform the way your team shares<br />
                information, collaborate on projects, and partners with
                external<br />
                vendors
              </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
              <img src="/assets/img/Leya.png" class="img-fluid animated" />
            </div>
          </div>
        </div>
      </section>
      <section id="values" class="values pb-0">
        <div class="container" data-aos="fade-up">
          <header>
            <div class="liner">
              <i class="bi bi-check-circle-fill"></i>
              <div class="line"></div>
            </div>
            <p>Title</p>
          </header>

          <div class="row">
            <div
              class="col-lg-4 mt-4 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="box d-flex align-items-center flex-column mb-3">
                <div class="img">
                  <img src="/assets/img/starting.png" alt="Card Image" />
                </div>
                <h3>Ad cupiditate sed est odio</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
                  quidem laborum accusamus neque id ipsam tenetur consequatur
                  obcaecati, fuga nostrum?
                </p>
                <div class="mt-auto">
                  <a href="/">Get some Online zing</a>
                </div>
              </div>
            </div>

            <div
              class="col-lg-4 mt-4 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="box d-flex align-items-center flex-column mb-3">
                <div class="img">
                  <img src="/assets/img/starting.png" alt="Card Image" />
                </div>
                <h3>TURBOCHARGINTG YOUR WEBSITE</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Neque explicabo delectus illo!
                </p>
                <div class="mt-auto">
                  <a href="/">Get some Online zing</a>
                </div>
              </div>
            </div>

            <div
              class="col-lg-4 mt-4 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <div class="box d-flex align-items-center flex-column mb-3">
                <div class="img">
                  <img src="/assets/img/starting.png" alt="Card Image" />
                </div>
                <h3>Fugit cupiditate alias nobis.</h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Magnam in accusamus deserunt voluptatum ratione odit libero
                  enim officiis iusto id. Illo provident mollitia cupiditate.
                </p>
                <div class="mt-auto">
                  <a href="/">Get some Online zing</a>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <img src="/assets/img/value-bg.png" alt="Bg" class="img-fluid" />
            </div>
          </div>
        </div>
      </section>
      <section>{% include migration.html %}</section>

      <!--Footer-->
      <!-- ======= Footer ======= -->
      <footer class="footer">
        <div class="row text-center justify-content-center mt-5 mb--5">
          <div class="col-md-9">
            <div class="content p-4">
              <h2>Form your durable team with us</h2>
              <p>
                Some clients stay with us over 5 years. With 170+ professionals
                on board, we’re ready to assist you with full-cycle development.
              </p>
              <div class="btn">
                <a href="/">Book a FREE Consultant</a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-legal text-center">
          <div class="container">
            <div class="copyright">
              <div class="footer-links">
                <a href="/">Instagram</a>
                <a href="/">LinkedIn</a>
                <a href="/">Email</a>
                <a href="/"> Resume</a>
              </div>
              <hr />
              © 2022 c Web Design Company. All rights reserved. <br />
              Crafted with and powered by Jekyll
            </div>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- ======= Hero Section ======= -->
    {% include script.html %}
    <!-- End Hero -->
  </body>
  <script src="/assets/js/app.js"></script>
</html>
