<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <style>
    body {
      font-family: "Lato", sans-serif;
    }

    .sidenav {
      height: 0;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .sidenav a {
      gap: 20px;
      text-decoration: none;
      color: #818181;
      display: inline-flex;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #1ba492;
    }
    @font-face {
    font-family: 'entypo';
    src: url('fonts/entypo.eot');
    src: url('fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('fonts/entypo.woff') format('woff'),
         url('fonts/entypo.ttf') format('truetype'),
         url('fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoonfont';
    src:    url('fonts/icomoonfont.eot?c6fwxr');
    src:    url('fonts/icomoonfont.eot?c6fwxr#iefix') format('embedded-opentype'),
            url('fonts/icomoonfont.ttf?c6fwxr') format('truetype'),
            url('fonts/icomoonfont.woff?c6fwxr') format('woff'),
            url('fonts/icomoonfont.svg?c6fwxr#icomoonfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

.price-calculator{padding:10%;}
 .price-calculator .slider{width:18%;}
 #show_form { width:820px; margin: 0 auto; color: #fff; }
 #show_form .main-form { width: 110%; margin: 30px auto 0;}
 .cost_calcu fieldset .row { margin-left: 0; margin-right: 0; }
.price-calculator {background:#2E858E; padding:20px 20px; margin:30px auto; overflow: auto; width:auto; border-radius: 10px;}
.price-calculator .row { float: left; width:100%;}
.price-calculator .row input.submit {border:none;}
.price-calculator .row label {float:left; font-size:14px; width: 200px; padding: 10px 0; color: #fff; font-weight: normal;}
.price-calculator .row input[type="text"] {float:right; font-size:14px; background: #3E959C; border: 0; box-shadow: none; padding: 10px; border-radius:0; min-height: 45px;}
.price-calculator .slider-left,
.price-calculator .slider-right {float:left; width: 25px; padding: 0; margin:7px 0; height: 25px; cursor:pointer; position: relative; line-height: 1.4em;
font-size: 16px;}
.price-calculator .slider-left { border-radius: 10px 0 0 10px; }
.price-calculator .slider-right { border-radius: 0 10px 10px 0; }
.price-calculator .slider-left .pictogram,
.price-calculator .slider-right .pictogram {padding: 0; position: absolute; top: 2px; left: 6px;}
.price-calculator .slider {float:left; height: 25px; width: 240px; position:relative; background:#0E5E65; margin:7px 15px; border:1px solid #50A5AA;}
.price-calculator .slider .ui-slider-handle {background-color: #4FA4A9; display: block; height: 25px; position: absolute; width:25px; top:-1px; -webkit-border-radius: 50px; border-radius: 50px; outline:none;-webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, .3);
box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, .3); margin-left:-10px; }
.price-calculator .button-row {margin-top:20px;}
.price-calculator table {color: #333; border-top: #d8d7d7 solid 1px; border-left: #d8d7d7 solid 1px; width: 100%; margin-bottom: 30px;}
.price-calculator td, .price-calculator th {border-right: #d8d7d7 solid 1px; border-bottom: #d8d7d7 solid 1px; padding:8px; font-weight:normal; color: #fff;}
.price-calculator td {font-size:.813em;}
.price-calculator th.service {text-align:left;}
.price-calculator .total,
.price-calculator tr.total .low,
.price-calculator tr.total .high {background:#F78E57;}
.price-calculator .low {background:#3E959C; text-align:right;}
.price-calculator .high {background:#3E959C; text-align:right;}
.price-calculator .top th {font-size:.813em; text-transform:uppercase;}
.price-calculator.main-form input[type="text"],
.price-calculator.main-form textarea {border:1px solid #999; color: #666; -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, .4); box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, .4);}
.price-calculator .quote-details .arrow {font-size:200px; display:block; text-align:center; line-height: 80px; color: #CCC;}

.btn.blue {	background:#3E959C;	color:#fff;}

.hide,
.hide--desktop,
.display--tablet,
.display--mobile,
.show--mobile {
	display:none !important;
}

.cost-calculator #show_form .button-row input { background: #8EC165; color: #fff; }
.cost-calculator #show_form .button-row.center { text-align:center; display: inline-block; width: 100%; }
#webdesign-quote { display: none; }

.main-form {
	width: 80%;
	margin: 0 10%;
}

	.main-form label {
		float:left;
		display:inline-block;
		width:20%;
		margin-right:5%;
	}

		.main-form label.error {
			width: 75%;
			margin:5px 0 0 25%;
			float:none;
		}

	.main-form input[type="text"],
	.main-form input[type="email"],
	.main-form input[type="password"],
	.main-form textarea,
	.main-form select {
		border: 1px solid #2c2c2c;
		padding: 10px;
		width:70%;
	}

		.white-section-wrapper .main-form input[type="text"],
		.white-section-wrapper .main-form input[type="email"],
		.white-section-wrapper .main-form input[type="password"],
		.white-section-wrapper .main-form textarea,
		.white-section-wrapper .main-form select {
			border: 1px solid #ccc;
		}

	.main-form fieldset fieldset {
		width:70%;
		margin:0 0 20px 25%;
		position:relative;
	}

	.main-form fieldset fieldset select {
		width:100%;
	}

	.main-form select {
		height:40px;
		text-transform:uppercase;
	}

	.main-form textarea {
		height:200px;
	}

	.main-form .form-row {
		margin-bottom:10px;
		position: relative;
	}

	.main-form input[type="submit"] {
		margin-left:25%;
		padding:15px 24px;
		font-size:17px;
	}

	.main-form .valid-invalid {
		width:15px;
		height:15px;
		position: absolute;
		top: 12px;
		right: 0;
	}

.pictogram { font-family: 'entypo';}
#webdesign-quote .quote-details p { margin-bottom: 40px;}
.calculator_code .btn.yellow { background: #8EC165; }
.cost-slider .cost-calculator #show_form .button-row input { float: right; width: 200px; background: #F78E57; 
	padding: 10px; font-size: 18px; text-transform: uppercase; font-weight: normal;}

.icon-arrow-left5:before {
	content: "\e71b";
}
.icon-arrow-right5:before {
	content: "\e71e";
}
[class*=" icon-"] { font-family: 'icomoonfont'; }

/*------- Resposive -------*/
@media only screen and (min-width: 768px) and (max-width: 979px) {
	#show_form {  width: 720px;}
	.price-calculator .slider { width: 220px; }
}

@media only screen and (max-width: 767px) {
	#show_form {  width: 620px;}
	.price-calculator .slider { width: 220px; }	
	.price-calculator .row label { width: 100%; }
}

@media only screen and (max-width: 640px) {
	#show_form {  width: 450px;}
	.price-calculator .slider { width: 150px; }	
}

@media only screen and (max-width: 480px) {
	#show_form {  width: 300px;}
	.price-calculator .slider { width: 69%; }	
	.price-calculator .row input[type="text"] { width: 100%; }
}

  </style>
  <body>
    {% include topnavbar.html %} {% include navigation.html %}
      <main id="main">
          <section id="hero-animated"
                   class="hero-animated d-flex align-items-center">
              <div class="container" data-aos="zoom-out">
                  <div class="row align-items-center">
                      <div class="col-md-6">
                          <h2>Case Studies</h2>
                          <p>
                              Explore software development <br />
                              case studies from companies with <br />
                              similar challenges
                          </p>
                      </div>
                      <div class="col-md-6 d-flex justify-content-center">
                          <img src="/assets/img/hero-imag.png" class="img-fluid animated" />
                      </div>
                  </div>
              </div>
          </section>
          <style>
              .container-fluid {
                  margin-top: -25px !important;
                  background-color: white;
                  padding-bottom: 60px;
              }

              .pull-left {
                  padding-top: 4px;
              }

              .container-fluid {
                  background-color: #10172C;
              }
          </style>
          <script data-cfasync="false" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
          <body class="home-background">
              <div class="content-part">
                  <div class="container">
                      <div class="main-heading">
                          <h1>OUR WORK!!</h1>
                          <p class="text-center">
                              Our websites are built by taking your business needs and style to create a voice for your company.<br>
                              Our sites are turned around quickly with line of site provided at every turn. <br>
                              We have content writers to make your message into an inspiration.  We have graphic designers to craft your vision into a reality. <br>
                              We have developers to avoid the boring part of website designs. Prices Starting As Low As $750 With Two Week Completion
                          </p>
                          <script type="text/javascript">
                              function trackEventaction() {
                                  _gaq.push(['_trackEvent', 'Portfolio', 'Click', 'http://spjedi.com/portfolio/', 4, true]);
                              }
                          </script>
                          <div class="caption sub slider_center slider_btn" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300" style="padding-top:4% !important;" onclick="trackEventaction();"><a href=" mailto:info@spjedi.com?subject=Website%20Mockup%20Request&body =During business hours we respond within the hour">Request a Mockup</a></div>
                      </div>


                      <div class="four-section">
                          <div class="row">
                              <div class="col-sm-3">
                                  <div class="img-section-four">
                                      <a href="" data-toggle="modal" data-target="#showimg1">
                                          <img src="/img/portfolio/ndcp_small.jpg" class="img-responsive">
                                          <p>National DCP</p>
                                      </a>
                                  </div>
                              </div>

                              <div class="col-sm-3">
                                  <div class="img-section-four">
                                      <a href="" data-toggle="modal" data-target="#showimg2">
                                          <img src="/img/portfolio/watermovers_small.jpg" class="img-responsive">
                                          <p>WATERMOVERS</p>
                                      </a>
                                  </div>
                              </div>


                              <div class="col-sm-3">
                                  <div class="img-section-four">
                                      <a href="" data-toggle="modal" data-target="#showimg3">
                                          <img src="/img/portfolio/geier asset_small.jpg" class=" img-responsive">
                                          <p>GEIER FINANCIAL</p>
                                      </a>
                                  </div>
                              </div>



                              <div class="col-sm-3">
                                  <div class="img-section-four">
                                      <a href="" data-toggle="modal" data-target="#showimg4">
                                          <img src="/img/portfolio/Training_Room_small.jpg" class="img-responsive" style="min-height:233px;">
                                          <p>TRAINING ROOM PHX</p>
                                      </a>
                                  </div>
                              </div>


                              <div class="col-sm-3">
                                  <div class="img-section-four">
                                      <a href="" data-toggle="modal" data-target="#showimg5">
                                          <img src="/img/portfolio/chemtura_small.jpg" class="img-responsive">
                                          <p>CHEMTURA</p>
                                      </a>
                                  </div>
                              </div>


                              <div class="col-sm-3">
                                  <div class="img-section-four">
                                      <a href="" data-toggle="modal" data-target="#showimg6">
                                          <img src="/img/portfolio/workthis_small.jpg" class="img-responsive">
                                          <p>WORKTHIS</p>
                                      </a>
                                  </div>
                              </div>


                              <div class="col-sm-3">
                                  <div class="img-section-four">
                                      <a href="" data-toggle="modal" data-target="#showimg7">
                                          <img src="/img/portfolio/ialtc_small.jpg" class="img-responsive">
                                          <p>INSURANCE ADVISORS</p>
                                      </a>
                                  </div>
                              </div>


                              <div class="col-sm-3">
                                  <div class="img-section-four">
                                      <a href="" data-toggle="modal" data-target="#showimg8">
                                          <img src="/img/portfolio/viola_small.jpg" class="img-responsive">
                                          <p>VIOLA MILANO</p>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Content-part-->
              <!--poup-->
              <!-- Modal -->
              <div class="modal fade" id="showimg1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document" style="background:none;">
                      <div class="modal-content" style="background:none;">
                          <div class="modal-body">
                              <img src="/img/portfolio/NDCP.jpg" style="width:100%">
                          </div>

                      </div>
                  </div>
              </div>
              <div class="modal fade" id="showimg2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document" style="background:none;">
                      <div class="modal-content" style="background:none;">
                          <div class="modal-body">
                              <img src="/img/portfolio/watermovers.jpg" style="width:100%">
                          </div>

                      </div>
                  </div>
              </div>
              <div class="modal fade" id="showimg3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document" style="background:none;">
                      <div class="modal-content" style="background:none;">
                          <div class="modal-body">
                              <img src="/img/portfolio/geier_asset.png" style="width:100%">
                          </div>

                      </div>
                  </div>
              </div>
              <div class="modal fade" id="showimg4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document" style="background:none;">
                      <div class="modal-content" style="background:none;">
                          <div class="modal-body">
                              <img src="/img/portfolio/Training_Room.jpg" style="width:100%">
                          </div>

                      </div>
                  </div>
              </div>
              <div class="modal fade" id="showimg5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document" style="background:none;">
                      <div class="modal-content" style="background:none;">
                          <div class="modal-body">
                              <img src="/img/portfolio/chemtura-desktop.JPG" style="width:100%">
                          </div>

                      </div>
                  </div>
              </div>
              <div class="modal fade" id="showimg6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document" style="background:none;">
                      <div class="modal-content" style="background:none;">
                          <div class="modal-body">
                              <img src="/img/portfolio/portfolio_4.jpg" style="width:100%">
                          </div>

                      </div>
                  </div>
              </div>
              <div class="modal fade" id="showimg7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document" style="background:none;">
                      <div class="modal-content" style="background:none;">
                          <div class="modal-body">
                              <img src="/img/portfolio/ialtc.jpg" style="width:100%">
                          </div>

                      </div>
                  </div>
              </div>
              <div class="modal fade" id="showimg8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document" style="background:none;">
                      <div class="modal-content" style="background:none;">
                          <div class="modal-body">
                              <img src="/img/portfolio/violamilano.png" style="width:100%">
                          </div>

                      </div>
                  </div>
              </div>
              <div class="remote_support" style="background-color: #575c6b;">
                  <div class="fullwidth-costslider">

                      <div class="cost-slider">
                          <div class="cost_detail">
                              <div class="cost-calculator">
                                  <div id="calculator" class="calculator_code">

                                      <div id="show_form">
                                          <h2 class="uppercase big">Project Quote Calculator</h2>
                                          <p class="icon">HELLO Use the sliders below to indicate your needs, then click the "See Pricing" button for a free, instant quote.</p>
                                          <div class="cost_calcu">



                                              <script>
                                                  var sliders = {
                                                      pages: { current: "", values: ['1 - 10', '10 - 50', '50 - 150', '150 - 250', '250+'] },
                                                      style: { current: "", values: ['No design needed', 'Simple yet attractive', 'Moderately stylized', 'High end', 'World class'] },
                                                      copywriting: { current: "", values: ['None', '5-10', '10-25', '25-50'] },
                                                      seo: { current: "", values: ['None', '30 keywords', '80 keywords', '150 keywords'] },
                                                      responsive: { current: "", values: ['No', 'Yes'] },
                                                      database: { current: "", values: ['None', 'Basic', 'Advanced', 'Full development'] },
                                                      ecommerce: { current: "", values: ['None', 'Basic', 'Advanced', 'Enterprise'] },
                                                      cms: { current: "", values: ['None', 'Standard', 'Advanced', 'Enterprise'] }
                                                  };


                                                  // setting up low price as per needed
                                                  var lowpagesObj = { '1-10': '100', '10-50': '150', '50-150': '100', '150-250': '100', '250+': '100' };
                                                  var lowstyleObj = { 'No design needed': '100', 'Simple yet attractive': '100', 'Moderately stylized': '100', 'High end': '100', 'World class': '100' };
                                                  var lowcopywObj = { 'None': '100', '5-10': '100', '10-25': '100', '25-50': '100' };
                                                  var lowseoObj = { 'None': '100', '30 keywords': '100', '80 keywords': '100', '150 keywords': '100' };
                                                  var lowrespoObj = { 'No': '100', 'Yes': '100' };
                                                  var lowdatabObj = { 'None': '100', 'Basic': '100', 'Advanced': '100', 'Full development': '100' };
                                                  var lowecomObj = { 'None': '100', 'Basic': '100', 'Advanced': '100', 'Enterprise': '100' };
                                                  var lowcmsObj = { 'None': '100', 'Standard': '100', 'Advanced': '100', 'Enterprise': '100' };


                                                  ///setting up high price as per needed to you
                                                  var highpagesObj = { '1-10': '200', '10-50': '200', '50-150': '200', '150-250': '200', '250+': '200' };
                                                  var highstyleObj = { 'No design needed': '200', 'Simple yet attractive': '200', 'Moderately stylized': '200', 'High end': '200', 'World class': '200' };
                                                  var highcopywObj = { 'None': '200', '5-10': '200', '10-25': '200', '25-50': '200' };
                                                  var highseoObj = { 'None': '200', '30 keywords': '200', '80 keywords': '200', '150 keywords': '200' };
                                                  var highrespoObj = { 'No': '200', 'Yes': '200' };
                                                  var highdatabObj = { 'None': '200', 'Basic': '200', 'Advanced': '200', 'Full development': '200' };
                                                  var highecomObj = { 'None': '200', 'Basic': '200', 'Advanced': '200', 'Enterprise': '200' };
                                                  var highcmsObj = { 'None': '200', 'Standard': '200', 'Advanced': '200', 'Enterprise': '200' };

                                                  function go_sliders() {
                                                      $.each(sliders, function (i, val) {
                                                          $('#' + i + '-slider').slider({
                                                              slide: function (event, ui) {
                                                                  $('[name=' + i + ']').val(sliders[i]['values'][ui.value]);
                                                              },
                                                              change: function (event, ui) {
                                                                  $('[name=' + i + ']').val(sliders[i]['values'][ui.value]);
                                                              },
                                                              min: 0,
                                                              max: sliders[i]['values'].length - 1
                                                          })
                                                      });
                                                  }

                                                  function ready_events() {
                                                      $(".row .slider-left").click(function () {
                                                          var slider = $("#" + $(this).attr('id').replace("-left", ""));
                                                          var value = slider.slider("value");
                                                          var step = slider.slider("option", "step");

                                                          slider.slider("value", value - step);
                                                          slider.change();
                                                      });

                                                      $(".row .slider-right").click(function () {
                                                          var slider = $("#" + $(this).attr('id').replace("-right", ""));
                                                          var value = slider.slider("value");
                                                          var step = slider.slider("option", "step");

                                                          slider.slider("value", value + step);
                                                          slider.change();
                                                      });
                                                      go_sliders();

                                                      //alert(Object.keys("someVal")); // returns first
                                                      //alert(Object.keys(obj)[1]);
                                                      $('#calculate').click(function () {
                                                          var elem = document.getElementById('cms-quote').elements;
                                                          var qry_str = 'act=get_quote&';
                                                          var lowtotal = 0;
                                                          var hightotal = 0;
                                                          var quoteText = "";
                                                          for (var i = 0; i < elem.length; i++) {
                                                              //                                                    console.log(elem[i].name);
                                                              qry_str += elem[i].name + "=" + elem[i].value + "&";
                                                              if (elem[i].name == "pages") {
                                                                  var keyObj = elem[i].value.replace(/ /g, '');
                                                                  lowtotal += parseInt(lowpagesObj[keyObj]);
                                                                  hightotal += parseInt(highpagesObj[keyObj]);
                                                                  $('.pagesPrice .item').html(elem[i].value);
                                                                  $('.pagesPrice .low').html('$ ' + lowpagesObj[keyObj]);
                                                                  $('.pagesPrice .high').html('$ ' + highpagesObj[keyObj]);
                                                                  quoteText += $('.pagesPrice .service').html() + " : " + elem[i].value + ";";
                                                              }
                                                              else if (elem[i].name == "style") {
                                                                  var keyObj = elem[i].value;
                                                                  lowtotal += parseInt(lowstyleObj[keyObj]);
                                                                  hightotal += parseInt(highstyleObj[keyObj]);
                                                                  $('.designPrice .item').html(elem[i].value);
                                                                  $('.designPrice .low').html('$ ' + lowstyleObj[keyObj]);
                                                                  $('.designPrice .high').html('$ ' + highstyleObj[keyObj]);
                                                                  quoteText += $('.designPrice .service').html() + " : " + elem[i].value + ";";
                                                              }
                                                              else if (elem[i].name == "copywriting") {
                                                                  var keyObj = elem[i].value;
                                                                  lowtotal += parseInt(lowcopywObj[keyObj]);
                                                                  hightotal += parseInt(highcopywObj[keyObj]);
                                                                  $('.copywritePrice .item').html(elem[i].value);
                                                                  $('.copywritePrice .low').html('$ ' + lowcopywObj[keyObj]);
                                                                  $('.copywritePrice .high').html('$ ' + highcopywObj[keyObj]);
                                                                  quoteText += $('.copywritePrice .service').html() + " : " + elem[i].value + ";";
                                                              }
                                                              else if (elem[i].name == "seo") {
                                                                  var keyObj = elem[i].value;
                                                                  lowtotal += parseInt(lowseoObj[keyObj]);
                                                                  hightotal += parseInt(highseoObj[keyObj]);
                                                                  $('.seoPrice .item').html(elem[i].value);
                                                                  $('.seoPrice .low').html('$ ' + lowseoObj[keyObj]);
                                                                  $('.seoPrice .high').html('$ ' + highseoObj[keyObj]);
                                                                  quoteText += $('.seoPrice .service').html() + " : " + elem[i].value + ";";
                                                              }
                                                              else if (elem[i].name == "responsive") {
                                                                  var keyObj = elem[i].value;
                                                                  lowtotal += parseInt(lowrespoObj[keyObj]);
                                                                  hightotal += parseInt(highrespoObj[keyObj]);
                                                                  $('.responsivePrice .item').html(elem[i].value);
                                                                  $('.responsivePrice .low').html('$ ' + lowrespoObj[keyObj]);
                                                                  $('.responsivePrice .high').html('$ ' + highrespoObj[keyObj]);
                                                                  quoteText += $('.responsivePrice .service').html() + " : " + elem[i].value + ";";
                                                              }
                                                              else if (elem[i].name == "database") {
                                                                  var keyObj = elem[i].value;
                                                                  lowtotal += parseInt(lowdatabObj[keyObj]);
                                                                  hightotal += parseInt(highdatabObj[keyObj]);
                                                                  $('.databasePrice .item').html(elem[i].value);
                                                                  $('.databasePrice .low').html('$ ' + lowdatabObj[keyObj]);
                                                                  $('.databasePrice .high').html('$ ' + highdatabObj[keyObj]);
                                                                  quoteText += $('.databasePrice .service').html() + " : " + elem[i].value + ";";
                                                              }
                                                              else if (elem[i].name == "ecommerce") {
                                                                  var keyObj = elem[i].value;
                                                                  lowtotal += parseInt(lowecomObj[keyObj]);
                                                                  hightotal += parseInt(highecomObj[keyObj]);
                                                                  $('.ecomPrice .item').html(elem[i].value);
                                                                  $('.ecomPrice .low').html('$ ' + lowecomObj[keyObj]);
                                                                  $('.ecomPrice .high').html('$ ' + highecomObj[keyObj]);
                                                                  quoteText += $('.ecomPrice .service').html() + " : " + elem[i].value + ";";
                                                              }
                                                              else if (elem[i].name == "cms") {
                                                                  var keyObj = elem[i].value;
                                                                  lowtotal += parseInt(lowcmsObj[keyObj]);
                                                                  hightotal += parseInt(highcmsObj[keyObj]);
                                                                  $('.cmsPrice .item').html(elem[i].value);
                                                                  $('.cmsPrice .low').html('$ ' + lowcmsObj[keyObj]);
                                                                  $('.cmsPrice .high').html('$ ' + highcmsObj[keyObj]);
                                                                  quoteText += $('.cmsPrice .service').html() + " : " + elem[i].value + ";";
                                                              }
                                                          }

                                                          $('.totalPrice .low').html('$ ' + lowtotal);
                                                          $('.totalPrice .high').html('$ ' + hightotal);
                                                          $('.valid').html(quoteText);
                                                          qry_str = qry_str.substring(0, qry_str.length - 1);
                                                          //        alert(qry_str);


                                                          return false;
                                                      });


                                                  }

                                                  $(document).ready(function () {
                                                      ready_events();
                                                  });
                                              </script>
                                              <form id="cms-quote" method="post" action="" class="price-calculator">
                                                  <fieldset>
                                                      <div class="row">
                                                          <label>Number of pages</label>
                                                          <input name="pages" type="text" readonly="readonly" value="1 - 10" />
                                                          <div class="clearfix show--mobile"></div>
                                                          <div class="slider-left btn blue icon-arrow-left5" id="pages-slider-left"></div>
                                                          <div class="slider" id="pages-slider">&nbsp;</div>

                                                          <div class="slider-right btn blue icon-arrow-right5" id="pages-slider-right"></div>
                                                      </div><div class="row">
                                                          <label>Style of design</label>
                                                          <input name="style" type="text" readonly="readonly" value="No design needed" />
                                                          <div class="clearfix show--mobile"></div>
                                                          <div class="slider-left btn blue icon-arrow-left5" id="style-slider-left"></div>
                                                          <div class="slider" id="style-slider">&nbsp;</div>
                                                          <div class="slider-right btn blue icon-arrow-right5" id="style-slider-right"></div>
                                                      </div><div class="row">
                                                          <label>Copywriting # of pages</label>
                                                          <input name="copywriting" type="text" readonly="readonly" value="None" />
                                                          <div class="clearfix show--mobile"></div>
                                                          <div class="slider-left btn blue icon-arrow-left5" id="copywriting-slider-left"></div>
                                                          <div class="slider" id="copywriting-slider">&nbsp;</div>
                                                          <div class="slider-right btn blue icon-arrow-right5" id="copywriting-slider-right"></div>
                                                      </div><div class="row">
                                                          <label>SEO w/ Placement Guarantee</label>
                                                          <input name="seo" type="text" readonly="readonly" value="None" />
                                                          <div class="clearfix show--mobile"></div>
                                                          <div class="slider-left btn blue icon-arrow-left5" id="seo-slider-left"></div>
                                                          <div class="slider" id="seo-slider">&nbsp;</div>
                                                          <div class="slider-right btn blue icon-arrow-right5" id="seo-slider-right"></div>
                                                      </div><div class="row">
                                                          <label>Responsive Design</label>
                                                          <input name="responsive" type="text" readonly="readonly" value="No" />
                                                          <div class="clearfix show--mobile"></div>
                                                          <div class="slider-left btn blue icon-arrow-left5" id="responsive-slider-left"></div>
                                                          <div class="slider" id="responsive-slider">&nbsp;</div>
                                                          <div class="slider-right btn blue icon-arrow-right5" id="responsive-slider-right"></div>
                                                      </div><div class="row">
                                                          <label>Database Integration</label>
                                                          <input name="database" type="text" readonly="readonly" value="None" />
                                                          <div class="clearfix show--mobile"></div>
                                                          <div class="slider-left btn blue icon-arrow-left5" id="database-slider-left"></div>
                                                          <div class="slider" id="database-slider">&nbsp;</div>
                                                          <div class="slider-right btn blue icon-arrow-right5" id="database-slider-right"></div>
                                                      </div><div class="row">
                                                          <label>e-Commerce Functionality</label>
                                                          <input name="ecommerce" type="text" readonly="readonly" value="None" />
                                                          <div class="clearfix show--mobile"></div>
                                                          <div class="slider-left btn blue icon-arrow-left5" id="ecommerce-slider-left"></div>
                                                          <div class="slider" id="ecommerce-slider">&nbsp;</div>
                                                          <div class="slider-right btn blue icon-arrow-right5" id="ecommerce-slider-right"></div>
                                                      </div><div class="row">
                                                          <label>CMS</label>
                                                          <input name="cms" type="text" readonly="readonly" value="None" />
                                                          <div class="clearfix show--mobile"></div>
                                                          <div class="slider-left btn blue icon-arrow-left5" id="cms-slider-left"></div>
                                                          <div class="slider" id="cms-slider">&nbsp;</div>
                                                          <div class="slider-right btn blue icon-arrow-right5" id="cms-slider-right"></div>
                                                      </div>
                                                  </fieldset>



                                                  <div class="button-row center"><input id="calculate" type="submit" class="btn yellow submit" value="See Pricing" /></div>
                                              </form>

                                          </div>

                                          <div id="get_ajax" class=""></div>
                                          <form id="webdesign-quote" action="" method="post" class="price-calculator main-form white-section-wrapper">

                                              <p><a href="javascript:;" id="webdesign-calculator" class="another btn blue">Click here for another quote.</a></p>

                                              <table id="quote-result">
                                                  <tbody>
                                                      <tr class="top">
                                                          <th colspan="2">&nbsp;</th>
                                                          <th class="low">Low</th>
                                                          <th class="high">High</th>
                                                      </tr>

                                                      <tr class="pagesPrice">
                                                          <th class="service">Number of pages</th>
                                                          <td class="item">1 - 10</td>
                                                          <td class="low">$ 1,000</td>
                                                          <td class="high">$ 2,000</td>
                                                      </tr>
                                                      <tr class="designPrice">
                                                          <th class="service">Style of design</th>
                                                          <td class="item">No design needed</td>
                                                          <td class="low">$ 0</td>
                                                          <td class="high">$ 0</td>
                                                      </tr>
                                                      <tr class="copywritePrice">
                                                          <th class="service">Copywriting # of pages</th>
                                                          <td class="item">None</td>
                                                          <td class="low">$ 0</td>
                                                          <td class="high">$ 0</td>
                                                      </tr>
                                                      <tr class="seoPrice">
                                                          <th class="service">SEO w/ Placement Guarantee</th>
                                                          <td class="item">None</td>
                                                          <td class="low">$ 0</td>
                                                          <td class="high">$ 0</td>
                                                      </tr>
                                                      <tr class="responsivePrice">
                                                          <th class="service">Responsive Design</th>
                                                          <td class="item">No</td>
                                                          <td class="low">$ 0</td>
                                                          <td class="high">$ 0</td>
                                                      </tr>
                                                      <tr class="databasePrice">
                                                          <th class="service">Database Integration</th>
                                                          <td class="item">None</td>
                                                          <td class="low">$ 0</td>
                                                          <td class="high">$ 0</td>
                                                      </tr>
                                                      <tr class="ecomPrice">
                                                          <th class="service">e-Commerce Functionality</th>
                                                          <td class="item">None</td>
                                                          <td class="low">$ 0</td>
                                                          <td class="high">$ 0</td>
                                                      </tr>
                                                      <tr class="cmsPrice">
                                                          <th class="service">CMS</th>
                                                          <td class="item">None</td>
                                                          <td class="low">$ 0</td>
                                                          <td class="high">$ 0</td>
                                                      </tr>
                                                      <tr class="total totalPrice">
                                                          <th colspan="2">Total Estimated Quote</th>
                                                          <td class="low">$ 1,000</td>
                                                          <td class="high">$ 2,000</td>
                                                      </tr>
                                                  </tbody>
                                              </table>

                                              <fieldset class="quote-details">
                                                  <p>Please complete the web form below for an exact project quote from a WebpageFX website design strategist. <span class="pictogram arrow"></span></p>
                                                  <div class="form-row">
                                                      <label for="comments">Quote Details</label>
                                                      <textarea name="comments" class="valid">Number of pages: 1 - 10 Style of design: No design needed Copywriting # of pages: None SEO w/ Placement Guarantee: None Responsive Design: No Database Integration: None e-Commerce Functionality: None CMS: None</textarea>
                                                  </div>

                                                  <div class="form-row">
                                                      <label for="Name">Name <span>*</span></label>
                                                      <input name="Name" id="Name" required="" type="text">
                                                  </div>

                                                  <div class="form-row">
                                                      <label for="Email">Email <span>*</span></label>
                                                      <input name="Email" id="Email" required="" type="text">
                                                  </div>

                                                  <div class="form-row">
                                                      <label for="Phone">Phone</label>
                                                      <input name="Phone" type="text">
                                                  </div>
                                                  <div class="form-row">
                                                      <label for="Company">Company</label>
                                                      <input name="Company" type="text">

                                                      <noscript>
                                                          <label for="captcha">Is fire hot or cold?</label>
                                                          <input name="captcha" id="captcha" type="text" />
                                                      </noscript>
                                                  </div>

                                                  <div class="form-row">
                                                      <input value="1" name="quote-contact" type="hidden">
                                                      <input name="imahuman" class="imahuman" value="16749697" type="hidden">
                                                      <input value="Get Exact Quote" class="submit btn yellow" type="submit">
                                                  </div>
                                              </fieldset>
                                          </form>

                                      </div>

                                  </div>
                              </div>

                          </div>
                      </div>

                  </div>


              </div>
              <script data-cfasync="false" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
              <script type="text/javascript">
                  $("#calculate").click(function () {
                      $(".cost_calcu").hide();
                      $("#webdesign-quote").show();


                  });
                  $("#webdesign-calculator").click(function () {
                      $("#webdesign-quote").hide();
                      $(".cost_calcu").show();
                  });
              </script>

              <script type="text/javascript">
                  $("#getexact").click(function (e) {
                      e.preventDefault();

                      var $that = $(this);

                      var $comment = $('textarea[name=comments]'),
                          $Name = $('input[name=Name]'),
                          $Email = $('input[name=Email]'),
                          $Phone = $('input[name=Phone]'),
                          $Company = $('input[name=Company]');

                      var $button = $that.find('#msg button');

                      $button.addClass('loading').prop('disabled', true);

                      var content = "Name  : " + $Name.val() + " , Email  : " + $Email.val() + " , Phone : " + $Phone.val() + ", Company : " + $Company.val() + " , Comment : " + $comment.val();
                      $.ajax({
                          type: "POST",
                          url: "https://mandrillapp.com/api/1.0/messages/send.json",
                          data: {
                              'key': 'qUnNKSqipOc7_rXIySQLFw',
                              'message': {
                                  'from_email': 'info@spjedi.com',
                                  'from_name': 'cors slider',
                                  'headers': {
                                      'Reply-To': $Email.val(),
                                  },
                                  'subject': 'Inquiry content',
                                  'text': content,
                                  'to': [
                                      {
                                          'email': 'info@spjedi.com',
                                          'name': 'Jed Elliott',
                                          'type': 'to'
                                      }
                                  ]
                              }
                          }
                      })
                          .done(function (response) {
                              $button.removeClass('loading').prop('disabled', false);
                              $name.val('');
                              $email.val('');
                              $subject.val('');
                              $message.val('');

                              $('.status-message').addClass('hidden');
                              $('.status-message.text-success').removeClass('hidden');
                          })
                          .fail(function (response) {
                              $('.status-message').addClass('hidden');
                              $('.status-message.text-danger').removeClass('hidden');
                          });
                  });
              </script>

              <!-- End Cases Section -->
              {% include footer.html %}
      </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- ======= Hero Section ======= -->
    {% include script.html %}
    <!-- End Hero -->
  </body>
  <script src="/assets/js/app.js"></script>
</html>
