<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <style>
    body {
      font-family: "Lato", sans-serif;
    }

    .sidenav {
      height: 0;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .sidenav a {
      gap: 20px;
      text-decoration: none;
      color: #818181;
      display: inline-flex;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #1ba492;
    }
  </style>
  <body>
    {% include topnavbar.html %} {% include navigation.html %}
    <main id="main">
      <section
        id="hero-animated"
        class="hero-animated d-flex align-items-center"
      >
        <div class="container" data-aos="zoom-out">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h2>Process Automation</h2>
              <p>
                SPJedi's process automation service offering involves using Microsoft 365 technology 
                and tools to streamline and optimize repetitive tasks and workflows within an organization. 
                Our goal is to reduce manual intervention and increase your organization's efficiency. We aim to 
                free up human resources for more strategic, efficient, and creative endeavors.
              </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
              <img src="/assets/img/hero-imag.png" class="img-fluid animated" />
            </div>
          </div>
        </div>
      </section>

            <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>Customer Relationship Management (CRM):</h3>
              <p>
                Our process automation offerings seamlessly integrate with productivity and 
                business applications like D365, enabling users to automate tasks and processes within these applications. 
                CRM systems allow teams to track and manage leads and opportunities throughout the sales pipeline process.
              </p>
            </div>

            <div
              class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center"
            >
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->
      
      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="img">
               <!--  <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                />-->
              </div>
            </div>
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center"
            >
              <h3>Automated Workflows:</h3>
              <p>
                Our approach to automated workflows is by utilizing Microsoft Power Automate. 
                It provides a no-code or low-code approach, allowing users to design and automate 
                processes using a visual interface, making it accessible to business users and IT professionals 
                alike. Power Automate offers a vast array of connectors and templates, simplifying the process of 
                building automated workflows by removing the need for complex custom integrations.
              </p>
  
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first"
            >
              <h3>Chatbots:</h3>
              <p>
                SPJedi creates virtual assistant Chatbots utilizing Power Virtual Agents.
                Our custom-developed chatbots are computer programs that use artificial intelligence (AI) 
                and natural language processing (NLP) to interact with users through a chat interface. 
                They are designed to simulate human-like conversations and provide automated responses to user queries or requests.
              </p>
            </div>

            <div
              class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center"
            >
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->

      <!-- ======= Cases Section img-right ======= -->
      <section class="case-single">
        <div class="container mt-5" data-aos="zoom-out">
          <div class="row g-5">
            <div class="col-lg-4 col-md-6 d-flex align-items-center">
              <div class="img">
               <!--  <img
                  src="/assets/img/case-study-1.png"
                  alt=""
                  class="img-fluid"
                />-->
              </div>
            </div>
            <div
              class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center"
            >
              <h3>Robotic Process Automation (RPA) Integration:</h3>
              <p>
               SPJedi utilizes RPA technology that uses bots to automate repetitive, 
                rule-based, and mundane tasks typically performed by humans. Our RPA bots can mimic human interactions with digital systems, 
                applications, and interfaces, allowing them to perform tasks in the same way a human would, but with greater speed, accuracy, and consistency..
              </p>
  
            </div>
          </div>
        </div>
      </section>
      <!-- End Cases Section -->


      {% include footer.html %}
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- ======= Hero Section ======= -->
    {% include script.html %}
    <!-- End Hero -->
  </body>
  <script src="/assets/js/app.js"></script>
</html>
