<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
  <style>
    body {
      font-family: "Lato", sans-serif;
    }

    .sidenav {
      height: 0;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .sidenav a {
      gap: 20px;
      text-decoration: none;
      color: #818181;
      display: inline-flex;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #1ba492;
    }
  </style>
  <body>
  {% include navigation.html %}
  {% include topnavbar.html %}
  <i class="bi bi-list mobile-nav-toggle d-none"></i>

  <main id="main">
    <section id="contact-animated" class="about-animated d-flex align-items-center"
      style="background-image: url(/assets//img/top-contact-bg.jpg)">
      <div class="container" data-aos="zoom-out">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h2>Services</h2>
            <hr class="about_top_center" />
            <p>Feel free to talk to our online representative at any time you please using our Live Chat system on
              our website or one of the below instant messaging programs.</p>

            <p>Please be patient while waiting for a response. (24/7 Support!)</p>
          </div>
          <div class="col-md-6">
            <div class="contact_banner_right">
              <img src="/assets/img/x-wing.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cu-contact hr-abouts" style="background-color: rgba(204, 204, 204, 0.7)">
      <div class="container" data-aos="fade-up" style="background-color: transparent">
        <header>
          <div class="liner">
            <i class="bi bi-check-circle-fill"></i>
            <div class="line"></div>
          </div>
          <p>What We Offer : </p>
        </header>
        <div class="row">
          <!-- First Tile -->
          <div class="col-md-12">
            <div class="hr_about-list">
              <div class="about-hr_jed">
                <div class="jed_header">
                  <div class="hr-user">
                    <img src="assets/img/sharepoint.png" alt="" />
                  </div>
                  <h4>Power Automation</h4>
                  <p>Unlock the future of automation with our Power Automative service. 
                    We're experts in Microsoft Power Automate, harnessing its potential to streamline your processes and supercharge productivity. 
                    Experience tailored workflows, saving time and reducing errors, while you focus on growing your business. 
                    Discover a new era of efficiency with us today.</p>
                </div>
                <div class="jed_detail">
                  <span></span>
                  <p></p>
                  <div class="about_bottom_dot"></div>
                  <a class="case-single-btn align-self-start" href="#">Case Study 1</a><br>
                  <a class="case-single-btn align-self-start" href="#">Case Study 2</a><br>
                  <a class="case-single-btn align-self-start" href="#">Learn More</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Second Tile -->
          <div class="col-md-12">
            <div class="hr_about-list">
              <div class="about-hr_jed">
                <div class="jed_header">
                  <div class="hr-user">
                    <img src="assets/img/Process.png" alt="" />
                  </div>
                  <h4>Digital Transformations</h4>
                  <p>Transform your data into actionable insights with our data transformation service. 
                    Streamline, consolidate, and clean your raw data for informed decision-making and improved business outcomes. 
                    Trust our IT experts to unlock the true potential of your data and drive success.</p>
                </div>
                <div class="jed_detail">
                  <span></span>
                  <p></p>
                  <div class="about_bottom_dot"></div>
                  <a class="case-single-btn align-self-start" href="#">Case Study 1</a><br>
                  <a class="case-single-btn align-self-start" href="#">Case Study 2</a><br>
                  <a class="case-single-btn align-self-start" href="#">Learn More </a>
                </div>
              </div>
            </div>
          </div>

          <!-- Third Tile -->
          <div class="col-md-12">
            <div class="hr_about-list">
              <div class="about-hr_jed">
                <div class="jed_header">
                  <div class="hr-user">
                    <img src="assets/img/migration.png" alt="" />
                  </div>
                  <h4>Migrations</h4>
                  <p>Experience seamless and hassle-free technology transitions with our expert migration service. 
                    Whether you're moving to the cloud, upgrading your systems, or migrating to new platforms, our IT specialists ensure a smooth and secure process. 
                    Minimize downtime, preserve data integrity, and embrace the future of your IT infrastructure with confidence. Trust us to handle your migration needs and propel your business forward.</p>
                </div>
                <div class="jed_detail">
                  <span></span>
                  <p></p>
                  <div class="about_bottom_dot"></div>
                  <a class="case-single-btn align-self-start" href="#">Case Study 1</a><br>
                  <a class="case-single-btn align-self-start" href="#">Case Study 2</a><br>
                  <a class="case-single-btn align-self-start" href="#">Learn More</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Fourth Tile -->
          <div class="col-md-12">
            <div class="hr_about-list">
              <div class="about-hr_jed">
                <div class="jed_header">
                  <div class="hr-user">
                    <img src="assets/img/external.png" alt="" />
                  </div>
                  <h4>UI/UX</h4>
                  <p>Elevate your digital presence with our cutting-edge UI/UX design service. 
                    Our skilled team of designers crafts captivating user interfaces and intuitive user experiences that leave a lasting impression.
                    We prioritize user-centric design, ensuring seamless navigation and interactions across all devices. 
                    Let us transform your ideas into visually stunning and user-friendly interfaces that maximize engagement and drive your IT solutions to success.</p>
                </div>
                <div class="jed_detail">
                  <span></span>
                  <p></p>
                  <div class="about_bottom_dot"></div>
                  <a class="case-single-btn align-self-start" href="#">Case Study 1</a><br>
                  <a class="case-single-btn align-self-start" href="#">Case Study 2</a><br>
                  <a class="case-single-btn align-self-start" href="#">Learn More</a>
                </div>
              </div>
            </div>
          </div>

    {% include footer.html %}
  </main>
  <!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <!-- ======= Hero Section ======= -->
  {% include script.html %}
  <!-- End Hero -->
</body>
<script src="/assets/js/app.js"></script>
