<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
  <title>Services</title>
</head>

<body>
  {% include navigation.html %}
  {% include topnavbar.html %}
  <i class="bi bi-list mobile-nav-toggle d-none"></i>

  <main id="main">
    <section id="contact-animated" class="about-animated d-flex align-items-center"
      style="background-image: url(/assets//img/top-contact-bg.jpg)">
      <div class="container" data-aos="zoom-out">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h2>Services</h2>
            <hr class="about_top_center" />
            <p>Feel free to talk to our online representative at any time you please using our Live Chat system on
              our website or one of the below instant messaging programs.</p>

            <p>Please be patient while waiting for a response. (24/7 Support!)</p>
          </div>
          <div class="col-md-6">
            <div class="contact_banner_right">
              <img src="/assets/img/x-wing.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cu-contact hr-abouts" style="background-color: rgba(204, 204, 204, 0.7)">
      <div class="container" data-aos="fade-up" style="background-color: transparent">
        <header>
          <div class="liner">
            <i class="bi bi-check-circle-fill"></i>
            <div class="line"></div>
          </div>
          <p>What We Offer : </p>
        </header>
        <div class="row">
          <!-- First Tile -->
          <div class="col-md-6 col-sm-6">
            <div class="hr_about-list">
              <div class="about-hr_jed">
                <div class="jed_header">
                  <div class="hr-user">
                    <img src="assets/img/Heather Davenport.png" alt="" />
                  </div>
                  <h4>Power Automation</h4>
                  <p></p>
                </div>
                <div class="jed_detail">
                  <span></span>
                  <p></p>
                  <div class="about_bottom_dot"></div>
                  <div class="case-single">
                  <a class="case-single-btn align-self-start" href="#">Case Study 1</a><br>
                  <a class="case-single-btn align-self-start" href="#">Case Study 2</a><br>
                  <a class="case-single-btn align-self-start" href="#">Learn More</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Second Tile -->
          <div class="col-md-6 col-sm-6">
            <div class="hr_about-list">
              <div class="about-hr_jed">
                <div class="jed_header">
                  <div class="hr-user">
                    <img src="assets/img/Dmitri Plotnikov.png" alt="" />
                  </div>
                  <h4>Data Transformations</h4>
                  <p></p>
                </div>
                <div class="jed_detail">
                  <span></span>
                  <p></p>
                  <div class="about_bottom_dot"></div>
                  <a class="case-single-btn align-self-start" href="#">Case Study 1</a><br>
                  <a class="case-single-btn align-self-start" href="#">Case Study 2</a><br>
                  <a class="case-single-btn align-self-start" href="#">Learn More </a>
                </div>
              </div>
            </div>
          </div>

          <!-- Third Tile -->
          <div class="col-md-6 col-sm-6">
            <div class="hr_about-list">
              <div class="about-hr_jed">
                <div class="jed_header">
                  <div class="hr-user">
                    <img src="assets/img/Anna Tsugunyan.png" alt="" />
                  </div>
                  <h4>Migrations</h4>
                  <p></p>
                </div>
                <div class="jed_detail">
                  <span></span>
                  <p></p>
                  <div class="about_bottom_dot"></div>
                  <a class="case-single-btn align-self-start" href="#">Case Study 1</a><br>
                  <a class="case-single-btn align-self-start" href="#">Case Study 2</a><br>
                  <a class="case-single-btn align-self-start" href="#">Learn More</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Fourth Tile -->
          <div class="col-md-6 col-sm-6">
            <div class="hr_about-list">
              <div class="about-hr_jed">
                <div class="jed_header">
                  <div class="hr-user">
                    <img src="assets/img/Prasad Parava.png" alt="" />
                  </div>
                  <h4>UI/UX</h4>
                  <p></p>
                </div>
                <div class="jed_detail">
                  <span></span>
                  <p></p>
                  <div class="about_bottom_dot"></div>
                  <a class="case-single-btn align-self-start" href="#">Case Study 1</a><br>
                  <a class="case-single-btn align-self-start" href="#">Case Study 2</a><br>
                  <a class="case-single-btn align-self-start" href="#">Learn More</a>
                </div>
              </div>
            </div>
          </div>

    {% include footer.html %}
  </main>
  <!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <!-- ======= Hero Section ======= -->
  {% include script.html %}
  <!-- End Hero -->
</body>
<script src="/assets/js/app.js"></script>
